{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuwanie sekcji {{ entity.name }} ({{ entity.shortname }})</h1>
    <div class="alert alert-danger">
        Czy na pewno chcesz skasować sekcję <strong>{{ entity.name }} ({{ entity.shortname }})</strong>?
    </div>


    <table class="record_properties table table-striped">
        <tbody>
        {% if entity.kierownikName is defined and entity.kierownikName is not empty %}
            <tr>
                <th>Kierownik</th>
                <td>{{ entity.kierownikName }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="btn-group">
        {{ form(delete_form) }}
    </div>
{% endblock %}
