{% extends '::base.html.twig' %}

{% block body %} 
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#czekajaceAD">Czekające na wdrożenie w AD</a></li>
            <li><a data-toggle="tab" href="#komentarze">Komentarze</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <h3>Imie  i nazwisko: {{user.name}}</h3>
                <div class="form-horizontal">
                    {{  form_start(form) }}
                    <div class="form-group">
                        <label class="col-sm-4 control-label col-sm-2 control-label" for="form_samaccountname">
                            Nazwa konta
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" readonly value="{{user.samaccountname}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label col-sm-2 control-label" for="form_samaccountname">
                            Imię i nazwisko
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" readonly value="{{user.name}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label col-sm-2 control-label" for="form_samaccountname">
                            Inicjały
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" readonly value="{{user.initials}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label col-sm-2 control-label" for="form_samaccountname">
                            Biuro / Departament
                        </label>
                        <div class="col-sm-8">
                            {%if (dane_rekord) %}
                                <input type="text" class="form-control" readonly value="{{user.department}}"/>
                            {%else%}                            
                                {{ form_widget(form.department) }}
                            {%endif%}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label col-sm-2 control-label" for="form_samaccountname">
                            Stanowisko
                        </label>
                        <div class="col-sm-8">
                            {%if (dane_rekord) %}
                                <input type="text" class="form-control" readonly value="{{user.title}}"/>
                            {% else %}
                                <div class="col-sm-{{  (user is defined) ? "4" : "8" }}">{{ form_widget(form.title) }}</div>
                            {% endif %}   
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label col-sm-2 control-label" for="form_samaccountname">
                            Inne
                        </label>
                        <div class="col-sm-8">
                            {% if user is defined %}
                            <a class="btn btn-primary" href="{{ path('engageUser', {samaccountname: user.samaccountname}) }}"><i class="fa fa-puzzle-piece"></i> Zaangażowanie</a>
                            {% endif %}
                            {% if dane_rekord is not null and is_granted(expression('"PARP_BZK_2" in roles')) and null != dane_rekord.departament and dane_rekord.departament == 600 %}
                                <a class="btn btn-primary" href="{{ path('zmanaDepSekcjiPrzelozDlaTymczasowych', {UserRekordId: dane_rekord.id}) }}"><i class="fa fa-exclamation-circle"></i> <i class="fa fa-briefcase"></i> Zmiana Dep./Sekcji/przełożonego - przenieś do problematycznych</a>
                            {% endif %}
                        </div>
                    </div>
                        <div class="form-group">
                            {{ form_label(form.info) }}
                            <div class="col-sm-8">
                                <div id="formRowInfo">
                                {{ form_widget(form.info) }}
                                <div class="well">Sekcja w AD: {{user.infoinAD is defined ? user.infoinAD : user.info | default('Brak sekcji')}}</div>
                                </div>
                                {{ form_widget(form.infoNew)}}
                                <span class="input-group-addon hidden">
                                    <button class="btn btn-primary fa fa-edit" onclick="event.preventDefault(); var hideCombo = $('#form_infoNew').attr('type') == 'hidden';  if(hideCombo){$('#formRowInfo').addClass('hidden'); $('#form_infoNew').attr('type', 'text');}else{$('#formRowInfo').removeClass('hidden'); $('#form_infoNew').attr('type', 'hidden');}">
                                    Nowa Sekcja
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.manager) }}
                            <div class="col-sm-6">
                                {{ form_widget(form.manager) }}
                            </div>
                            <div class="col-sm-2 btn-group">
{#                                 <a class="btn btn-primary col-sm-6" id="nadaj" name="nadaj"><i class="fa fa-users"></i>{% if form.manager %}Zmień{% else %}Nadaj{% endif %}</a> #}
                                <a class="btn btn-primary col-sm-12" href="{{ path('structure',{samaccountname: user.samaccountname }) }}"><i class="fa fa-sitemap"></i> Struktura</a>
                            </div>
                        </div>
                                    
                        <div class="form-group">
                            {{ form_label(form.accountExpires) }}
                            <div class='col-sm-8'>
                                <div class="input-group datepicker"  id="datepicker1">
                                    {{ form_widget(form.accountExpires) }}
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.isDisabled) }}
                            <div class='col-sm-8'>
                                <div class="input-group">
                                    {{ form_widget(form.isDisabled, {'attr': {'onchange' : 'if($(this).val() == 1){$("#disableDescriptionDiv").removeClass("hidden");}else{$("#form_disableDescription").val("");$("#disableDescriptionDiv").addClass("hidden");}'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group {{ form.vars.value.isDisabled ? '' : 'hidden'}}" id="disableDescriptionDiv" >
                            {{ form_label(form.disableDescription) }}
                            <div class='col-sm-8'>
                                <div class="input-group">
                                    {{ form_widget(form.disableDescription) }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.ustawUprawnieniaPoczatkowe) }}
                            <div class='col-sm-8'>
                                {{ form_widget(form.ustawUprawnieniaPoczatkowe) }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" id="form_zapisz" name="form[zapisz]" class="btn btn-success col-sm-12 btn">Zapisz</button>
                        </div>
                        {{ form_widget(form._token) }}
                     {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
            <div id="czekajaceAD" class="tab-pane fade">
                <div  class="tabContent">
                    {% if pendingEntries|length > 0 %}
                        <table class="table table-hover" id="oczekujaceTable">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">Lp.</th>
                                    <th>Imię i nazwisko</th>
                                    <th>Inicjały</th>
                                    <th>Departament</th>
                                    <th>Manager</th>
                                    <th>Stanowisko</th>
                                    <th>Sekcja</th>
                                    <th>Uprawnienia początkowe</th>
                                    <th>Ad zmiana</th>
                                    <th>Od kiedy</th>
                                </tr>
                            </thead>
                            {% set n = 1 %}
                            <tbody>
                                {% for row in pendingEntries %}
                                {% if (
                                    row.initials or 
                                    row.department or 
                                    row.manager or 
                                    row.title or 
                                    row.info or 
                                    row.initialrights
                                )%}
                                    <tr>
                                        <td>{{ n }}</td>
                                        <td>{{ row.cn  }}</td>
                                        <td>{{row.initials}}</td>
                                        <td>{{row.department}}</td>
                                        <td>{{row.manager}}</td>
                                        <td>{{row.title}}</td>
                                        <td>{{row.info}}</td>
                                        <td>{{row.initialrights}}</td>
                                        <td>{{row.distinguishedName}}</td>
                                        <td>{{row.fromWhen|date}}</td>
                                    </tr>
                                    {% set n = n + 1 %}
                                {%endif%}
                                {% endfor %}
                            </tbody>
            
                        </table>
                    {% else %}
                        
                        <p>Użytkownik nie posiada żadnych oczejących zmian.</p>
                        
                    {% endif %}
                
                </div>
            </div>
            <div id="komentarze" class="tab-pane fade">
                {{ render(controller('ParpMainBundle:Komentarz:index', {obiekt: 'User', obiektId: user.samaccountname})) }}
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Wybierz przełożonego</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="imienazwisko">Wpisz imie i nazwisko</label>
                            <input type="text" class="form-control" id="imienazwisko" placeholder="imie i nazwisko">
                        </div>
                        <div class="form-group" id="lista" name="lista">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="zapisz" name="zapisz">Zapisz</button>
                </div>
            </div>
        </div>
    </div>  
    
    <script type="text/javascript"src="{{ asset('js/userForm.js') }}"></script>

    <script>
        $('#form_info option').attr('disabled', true);
        $('#form_info optgroup[label={{user.description}}] option').attr('disabled', false);

        {# Z nieznanych mi przyczyn, pod FF nie wybiera właściwie wartości pola z sekcją. #}
        $(document).ready(function() {
            $('#form_info').val("{{ user.info }}");
        });
    </script>

{%endblock%}