{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#general">Dane podstawowe</a>
            </li>
            <li>
                <a data-toggle="tab" href="#daneRekord">Dane z systemu rekord</a>
            </li>
            <li>
                <a data-toggle="tab" href="#zasoby">Zasoby użytkownika</a>
            </li>
            <li>
                <a data-toggle="tab" href="#historia">Historia zmian</a>
            </li>
            <li>
                <a data-toggle="tab" href="#oczekujace">
                    Oczekujące zmiany
                    {% if user_changes.nieaktywne is defined %}
                        <span class="label label-danger">{{ user_changes.nieaktywne|length }}</span>
                    {% endif %}
                </a>
            </li>
            {% if username is defined %}
                <li>
                    <a data-toggle="tab" href="#komentarze">Komentarze</a>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <h3>
                {% block header %}
                    {{ username }}
                {% endblock %}
            </h3>
            <hr />

            <div id="general" class="tab-pane fade in active">
                {% include 'ParpMainBundle:EdycjaUzytkownika:dane_podstawowe.html.twig' %}
            </div>

            <div id="daneRekord" class="tab-pane fade">
                {% include 'ParpMainBundle:EdycjaUzytkownika:dane_rekord.html.twig' %}
            </div>

            <div id="zasoby" class="tab-pane fade">
                {% include 'ParpMainBundle:EdycjaUzytkownika:zasoby_uzytkownika.html.twig' %}
            </div>

            <div id="historia" class="tab-pane fade">
               {% include 'ParpMainBundle:EdycjaUzytkownika:historia_zmian.html.twig' %}
            </div>

            <div id="oczekujace" class="tab-pane fade">
                {% include 'ParpMainBundle:EdycjaUzytkownika:oczekujace_zmiany.html.twig' %}
            </div>
            {% if username is defined %}
                <div id="komentarze" class="tab-pane fade">
                    {{ render(controller('ParpMainBundle:Komentarz:index', {obiekt: 'User', obiektId: username})) }}
                </div>
            {% endif %}
        </div>

    </div>

    {% include 'ParpMainBundle:Default:managerWindow.html.twig' %}

    <script type="text/javascript"src="{{ asset('js/userForm.js') }}"></script>
    <script type="text/javascript"src="{{ asset('js/user-edit.js') }}"></script>
    <script>
        function zaznaczUstawieniePoczatkowych(){
            $('#form_ustawUprawnieniaPoczatkowe').attr('checked', true);
        }
    </script>
{% endblock %}
