<html>
    <head>

    </head>
    <body>
        {{ person.cn }}
        <p><b>Poniższe zestawienie zawiera informacje dla Administratorów Zasobów o zmianach kadrowych w PARP z dnia {{ person.fromWhen|date('Y-m-d') }}</b></p>
        <p>Administrator powinien wykorzystać te informacje (jeżeli dotyczą Użytkowników zarządzanych przez niego zasobów) do modyfikacji uprawnień - zgodnie z zapisami „Procedury zarządzania dostępem do zasobów informatycznych w PARP” (rozdz. 5.5.2. pkt 5. z podpunktami).</p>

        {% if odebrane|length > 0 %}
            <p><b>Odebranie uprawnień {{ person.cn }} - {{ person.samaccountname }}</b></p>
            <table>
                <tr><th></th></tr>
                        {% for key, value in odebrane %}
                    <tr><td>{{ key + 1 }}.</td><td>{{ value }}</td></tr>
                {% endfor %}
            </table>
        {% endif %}
        <br />
        {% if nadane|length > 0 %}
            <p><b>Nadanie uprawnień {{ person.cn }} - {{ person.samaccountname }}</b></p>
            <table>
                <tr><th></th></tr>
                        {% for key, value in nadane %}
                    <tr><td>{{ key + 1 }}.</td><td>{{ value }}</td></tr>
                {% endfor %}
            </table>
        {% endif %}
        Więcej informacji dla administratora tutaj: <a href="{{ path('zadanie_edit', {id: zadanie.id}) }}"> tutaj</a>
    </body>
</html>