{% extends "::base.html.twig" %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Uwaga!</strong>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Uwaga!</strong>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <center>
        <div class="btn-group">
            <a class="btn btn-primary btn-xs" href="{{ path('main', {'ktorzy': 'usersFromAdFull'}) }}">Wyszukiwanie aktywne</a>
        </div>
        {% if 'PARP_ADMIN_REJESTRU_ZASOBOW' in app.user.roles %}
        <div class="btn-group">
            <a class="btn btn-success btn-xs" href="{{ path('userAdd') }}">Dodaj pracownka</a>
        </div>
        <div>
            <a class="btn btn-danger" href="{{ path('publish') }}">Opublikuj zmiany do AD</a>
        </div>
        {% endif %}
    </center>
    {% if ktorzy == 'usersFromAdFull' %}
        <div class="well">
            <label>Wyszukiwanie aktywne</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Wpisz frazę wyszukania we wszystkich polach"
                id="aktywneWyszukanie" />
            </div>
        </div>
    {% endif %}

    {{ grid(grid,'ParpMainBundle:Default:index_grid.html.twig') }}
    <script>
        $('.popoverElement').on('click', function (e) {
            e.preventDefault();
            $('.popoverElement').not(this).popover('hide');
            var skadZdjecie = $(this).attr('href');
            $(this).attr('data-content', '<center><img style="height: 120px;" src="' + skadZdjecie + '" /></center>');
        });
        $('.popoverElement').popover();
        $('#submitexport').on('click', function (e) {
            $('#export-grid').val('0');
            e.preventDefault();
            $("#{{ grid.hash }}").submit();
            $('#export-grid').val('-1');
        })
        $('#aktywneWyszukanie').keydown(function () {
            szukajUserow(this);
        });
        function szukajUserow(that) {
            var i = 0;
            var szukaj = $(that).val().toUpperCase();
            $('table tr').each(function () {
                if (i > 1) {
                    var txt = $(this).text().toUpperCase();
                    var checked = $('input[type=checkbox]', $(this)).prop('checked');
                    if (checked)
                        console.log('checked ' + checked + ' ' + txt);
                    if (txt.indexOf(szukaj) >= 0 || checked) {
                        $(this).removeClass('hidden');
                    } else {
                        $(this).addClass('hidden');
                    }
                }
                i++;
            });
        }
    </script>
    <style>
        table tr td:first-child, table tr th:first-child{
            min-width:30px;
            width: 30px!important;
        }
        form.dirty{
            background: transparent;
        }
    </style>
{% endblock body %}
