
<div  class="tabContent">
    <form class="form-horizontal" method="POST" role="form">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.samaccountname) }}
            <div class="col-sm-8">{{ form_widget(form.samaccountname) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.cn) }}
            <div class="col-sm-8">{{ form_widget(form.cn) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.initials) }}
            <div class="col-sm-4">
                {{ form_widget(form.initials) }}
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary col-sm-12" id="suggestinitials" name="suggestinitials"><i class="fa fa-search"></i> Zasugeruj</a>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.department) }}
            <div class="col-sm-8">{{ form_widget(form.department) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.title) }}
            <div class="col-sm-{{ (user is defined) ? "4" : "8" }}">{{ form_widget(form.title) }}</div>
            {% if user is defined %}
                <div class="col-sm-4"><a class="btn btn-primary col-sm-12" href="{{ path('engageUser', {samaccountname: user.samaccountname}) }}"><i class="fa fa-puzzle-piece"></i> Zaangażowanie</a></div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.initialrights) }}
            <div class="col-sm-8">{{ form_widget(form.initialrights) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.info) }}
            <div class="col-sm-8">
                    <div id="formRowInfo">
                    {{ form_widget(form.info) }}
                    </div>
                    <div class="hidden">
                        {{ form_widget(form.infoNew) }}
                        <span class="input-group-addon">
                            <button class="btn btn-primary fa fa-edit" onclick="event.preventDefault(); var hideCombo = $('#form_infoNew').attr('type') == 'hidden';  if(hideCombo){$('#formRowInfo').addClass('hidden'); $('#form_infoNew').attr('type', 'text');}else{$('#formRowInfo').removeClass('hidden'); $('#form_infoNew').attr('type', 'hidden');}">
                            Nowa Sekcja
                            </button>
                        </span>
                    </div>
            </div>
        </div>
        {#<div class="form-group">#}
        {#{{ form_label(form.description) }}#}
        {#<div class="col-sm-8">{{ form_widget(form.description) }}</div>#}
        {#</div>#}
        {#<div class="form-group">#}
        {#{{ form_label(form.division) }}#}
        {#<div class="col-sm-8">{{ form_widget(form.division) }}</div>#}
        {#</div>#}
        <div class="form-group">
            {{ form_label(form.manager) }}
            <div class="col-sm-6">
                {{ form_widget(form.manager) }}
            </div>
            <div class="col-sm-2 btn-group">
{#
                <a class="btn btn-primary col-sm-6" id="nadaj" name="nadaj"><i class="fa fa-users"></i>{% if form.manager %}Zmień{% else %}Nadaj{% endif %}</a>

#}
                {% if user is defined %}
                <a class="btn btn-primary col-sm-6" href="{{ path('structure',{samaccountname: user.samaccountname }) }}"><i class="fa fa-sitemap"></i> Struktura</a>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.accountExpires) }}
            <div class='col-sm-8'>
                <div class="input-group datepicker"  id="datepicker1">
                    {{ form_widget(form.accountExpires) }}
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.isDisabled) }}
            <div class='col-sm-8'>
                    {{ form_widget(form.isDisabled, {'attr': {'onchange' : 'if($(this).val() == 1){$("#disableDescriptionDiv").removeClass("hidden");}else{$("#form_disableDescription").val("");$("#disableDescriptionDiv").addClass("hidden");}' }}) }}

            </div>
        </div>
        <div class="form-group {{ form.vars.value.isDisabled ? '' : 'hidden' }}" id="disableDescriptionDiv" >
            {{ form_label(form.disableDescription) }}
            <div class='col-sm-8'>
                    {{ form_widget(form.disableDescription) }}

            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.roles) }}
            <div class="col-sm-8">{{ form_widget(form.roles) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.fromWhen) }}
            <div class='col-sm-8'>
                <div class="input-group datepicker"  id="datepicker2">
                    {{ form_widget(form.fromWhen) }}
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.ustawUprawnieniaPoczatkowe) }}
            <div class='col-sm-8'>
                {{ form_widget(form.ustawUprawnieniaPoczatkowe) }}
            </div>
        </div>

        {% if form.zapisz is defined %}
        <div class="form-group">
            <div class="col-sm-6"><input type="button" class="btn btn-danger btncancel" disabled onclick="cancelForm()" value="Cofnij zmiany"/></div>
            <div class="col-sm-6">{{ form_widget(form.zapisz) }}</div>
        </div>
        {% endif %}
    {{ form_rest(form) }}
</div>