{% extends '::base.html.twig' %}
{% import _self as forms %}
{% macro formKadry(obj, sekcje, przelozeni) %}
<form class="form-inline">
    <div class="form-group">
        <label  for="form_info{{ obj.id }}">Sekcja:</label>
        <select id="form_info{{ obj.id }}" name="form[info]" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
            <option value=""></option>
            {% for d,g in sekcje %}
            <optgroup label="{{ d }}">
                {% for k,s in g %}
                    <option value="{{ k }}">[{{ d }}] {{ s }}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="form_manager{{ obj.id }}">Przełożony:</label>
        <select id="form_manager{{ obj.id }}" name="form[manager]" class="form-control select2" tabindex="-1" aria-hidden="true">
            <option value=""></option>
           {% for s in przelozeni %}
                <option value="{{ s.samaccountname }}">{{ s.name }} ({{ s.title }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label readonly="" for="form_accountExpires{{ obj.id }}">Data wygaśnięcia konta:</label><br />
        <div class="input-group datepicker" id="datepicker1">
            {% if obj.umowaDo %}
                <input type="text" id="form_accountExpires{{ obj.id }}" name="form[accountExpires]" class="form-control form-control" value="{{ obj.umowaDo ? obj.umowaDo|date("Y-m-d") : "" }}">
                <span class="input-group-addon">
                    <span class="fas fa-calendar"></span>
                </span>
            {% else %}
                <span><i class="fas fa-exclamation-circle">&nbsp;</i> konto nigdy nie wygasa</span>
                <input type="hidden" id="form_accountExpires{{ obj.id }}" name="form[accountExpires]" class="form-control form-control" value="3000-01-01">
            {% endif %}
        </div>
    </div>
{#
    <div class="form-group">
        <label for="form_isDisabled">Konto wyłączone w AD</label>
        <div class="input-group">
            <select id="form_isDisabled" name="form[isDisabled]" class="form-control select21 form-control" onchange="if($(this).val() == 1){$(&quot;#disableDescriptionDiv&quot;).removeClass(&quot;hidden&quot;);}else{$(&quot;#form_disableDescription&quot;).val(&quot;&quot;);$(&quot;#disableDescriptionDiv&quot;).addClass(&quot;hidden&quot;);}">            <option value="0" selected="selected">NIE</option>            <option value="1">TAK</option></select>
        </div>
    </div>
    <div class="form-group">
        <label  for="form_disableDescription">Podaj powód wyłączenia konta</label>
        <div class="input-group">
            <select id="form_disableDescription" name="form[disableDescription]" class="form-control">            <option value="" selected="selected"></option>            <option value="Konto wyłączono z powodu nieobecności dłuższej niż 21 dni">Konto wyłączono z powodu nieobecności dłuższej niż 21 dni</option>            <option value="Konto wyłączono z powodu rozwiązania stosunku pracy">Konto wyłączono z powodu rozwiązania stosunku pracy</option></select>
        </div>
    </div>
#}
</form>
{% endmacro %}

{% block body -%}
{% if msg is defined %}
    <div class="alert alert-danger">
        {{ msg|raw }}
    </div>
{% endif %}

{% if data|length > 0 %}
{% for obj in data %}

<div class="alert alert-danger acceptUser" id="acceptUser{{ obj.id }}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h3 class="text-danger"><i class="fas fa-exclamation-circle">&nbsp;</i>
        {% if (obj.newUnproccessed == 1) %}
        <i class="fas fa-plus">&nbsp;</i> Nowy użytkownik{% else %}
        <i class="fas fa-briefcase">&nbsp;</i> Zmiana departamentu/stanowiska{% endif %}
    </h3>
    <h4>Dane zaimportowane z systemu REKORD</h4>
    {% if obj.konto_wylaczone %}
        <div class="alert alert-warning">
            Znaleziono konto użytkownika z tymi samymi danymi w NIEOBECNYCH/ZABLOKOWANYCH. Jeśli jest to ta sama osoba, to należy uprzednio odblokować istniejące konto. Jeśli jest to nowa osoba, to utwórz dla niej nowe konto.
        </div>
    {% endif %}
    <table class="record_properties table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Departament</th>
                <th>Stanowisko</th>
                <th>Umowa</th>
                <th>Umowa od</th>
                <th>Umowa do</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.imie }}</td>
                <td>{{ obj.nazwisko }}</td>
                <td>{{ obj.departament.name }}</td>
                <td>{{ obj.stanowisko }}</td>
                <td>{{ obj.umowa }}</td>
                <td>{{ obj.umowaOd ? obj.umowaOd|date("Y-m-d") : "" }}</td>
                <td>{{ obj.umowaDo ? obj.umowaDo|date("Y-m-d") : "" }}</td>
            </tr>
            {% if not obj.konto_wylaczone %}
            <tr>
                <td colspan="8" class="form-kadry">
                    {{ forms.formKadry(obj, sekcje, przelozeni) }}
                </td>
            </tr>
            <tr>
                {% if (obj.newUnproccessed == 1) %}
                    <td colspan="8"><h3>Dane w Active Directory</h3>
                        <table class="record_properties table table-striped">
                            <thead>
                            {% if (obj.users|length > 0) %}
                                <tr>
                                    <th>Login</th>
                                    <th>Imię i Nazwisko</th>
                                    <th>Departament</th>
                                    <th>Stanowisko</th>
                                    <th>Sekcja</th>
                                    <th>Akcje</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th colspan="6">Nie znaleziono żadnych pasujących użytkowników w AD</th>
                                </tr>
                            {% endif %}
                            </thead>
                            <tbody>
                                {% for user in obj.users %}
                                    <tr>
                                        <td><a href="{{ path('userEdit', {samaccountname: user.samaccountname}) }}">{{ user.samaccountname }}</a></td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.department }}</td>
                                        <td>{{ user.title }}</td>
                                        <td>{{ user.info }}</td>
                                        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmSelection{{ user.samaccountname }}{{ obj.id }}">Przypisz do tego użytkownika</button></td>
                                    </tr>
                                {% endfor %}
                                {# <tr>
                                    <td colspan="6">
                                        {% if (obj.users|length > 0) %}<h4>Jeśli nie chcesz przypisać do żadnego z powyższych użytkowników, utwórz nowe konto w AD za pomocą przycisku poniżej</h4>{% endif %}
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmSelection{{ obj.id }}">Utwórz nowego użytkownika</button>
                                    </td>
                                </tr> #}
                            </tbody>
                        </table>
                    </td>
                {% else %}
                    <td colspan="1">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmSelection{{ obj.id }}">Zapisz użytkownika</button>
                    </td>
                    <td colspan="7"></td>
                {% endif %}
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div>
    {% if (obj.newUnproccessed == 1) and not obj.konto_wylaczone %}
        {% if (obj.users|length > 0) %}<h4>Jeśli nie chcesz przypisać do żadnego z powyższych użytkowników, wybierz akcję poniżej</h4>{% endif %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmSelection{{ obj.id }}">Utwórz nowego użytkownika</button>
{#        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#confirmSelection{{ obj.id }}">Usuń uzytkownika z kolejki importu</button>#}
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#deleteSelection{{ obj.id }}">Usuń uzytkownika z kolejki importu</button>
    {% endif %}
    </div>
</div>
{% endfor %}
    <div class="pagerfanta">
    {{ pagerfanta(data, 'twitter_bootstrap3_translated') }}
    </div>
{% endif %}



{% if data|length > 0 %}
{% for obj in data %}
    {% for user in obj.users %}
    <!-- Modal -->
    <div id="confirmSelection{{ user.samaccountname }}{{ obj.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        {% if (obj.newUnproccessed == 1) %}
                        Akceptacja przypisania nowego użytkownika z systemu REKORD
                        {% else %}
                        Akceptacja zmiany departamentu/stanowiska/sekcji
                        {% endif %}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="alert alert-danger">
                            <h2>
                                Akceptujesz przypisanie użytkownika z systemu REKORD '{{ obj.nazwisko }} {{ obj.imie }}' do istniejącego w AD użytkownika '{{ user.name }}'

                            </h2>
                        </div>
                        <div class="list-group">
                          <a class="list-group-item active">Wykonane zostaną następujące czynności:</a>
                          {% if user.department != obj.departament.name %}
                              <a class="list-group-item">Zmiana Biura/Departamentu '{{ user.department }}' do '{{ obj.departament.name }}'</a>
                              <a class="list-group-item">Odebranie wszystkich dotychczasowych uprawnień</a>
                              <a class="list-group-item">Nadanie nowych uprawnień w oparciu o nowy departament '{{ obj.departament.name }}'</a>
                          {% endif %}
                          {% if obj.nazwisko ~ " " ~ obj.imie != user.name %}
                              <a class="list-group-item">Zmiana Imienia i Nazwiska z '{{ user.name }}' na '{{ obj.nazwisko ~ " " ~ obj.imie }}'</a>
                          {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <a href="#" onclick="zapisz{{ user.samaccountname }}{{ obj.id }}()" class="btn btn-success" data-dismiss="modal">Przypisz <i class="fas fa-check-circle">&nbsp;</i> </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function zapisz{{ user.samaccountname }}{{ obj.id }}() {
            console.info("Zapisz nr 1");
            var url = "{{ path('przypiszUtworzUzytkownika', {id: obj.id, samaccountname: user.samaccountname}) }}";
            console.log("url: ", url);
            var form = $('form', $("#acceptUser{{ obj.id }}")).serialize();
            console.log("form: ", form);
            var manager = $('select[name="form[manager]"]', $("#acceptUser{{ obj.id }}")).val();
            save(url, form, manager, {{ obj.id }});
            console.log("menager: ", menager);
        }
        function usun{{ obj.id }}() {
            var url = "{{ path('usunUzytkownikaZKolejki', {id: obj.id}) }}";
            $.ajax({
                url: url,
                type: 'POST',
                success: function(result) {
                    $('#acceptUser{{ obj.id }}').hide();
                    alert("Usuwam z kolejki rekord ID:"+result);
                }
            });
        }
    </script>
    {% endfor %}
    <!-- Modal -->
    <div id="confirmSelection{{ obj.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                    {% if(obj.newUnproccessed == 1) %}
                        Akceptacja utworzenia nowego użytkownika z systemu REKORD
                    {% else %}
                        Akceptujesz przypisanie użytkownika z systemu REKORD '{{ obj.nazwisko }} {{ obj.imie }}' do nowej sekcji/departamentu/zmiany stanowiska, zmiana taka będzie skutkować zmianą uprawnień użytkownika!
                    {% endif %}

                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="alert alert-danger">
                            <h2>

                            {% if(obj.newUnproccessed == 1) %}
                            Akceptujesz utworzenie nowego użytkownika z systemu REKORD '{{ obj.nazwisko }} {{ obj.imie }}' z loginem '{{ obj.login }}'
                            {% else %}
                            Akceptujesz przypisanie użytkownika z systemu REKORD '{{ obj.nazwisko }} {{ obj.imie }}' do nowej sekcji/departamentu/zmiany stanowiska, zmiana taka będzie skutkować zmianą uprawnień użytkownika!
                        {% endif %}
                            </h2>
                        </div>
                        <div class="list-group">
                          <a class="list-group-item active">Wykonane zostaną następujące czynności:</a>
                          {% if(obj.newUnproccessed == 1) %}
                          <a class="list-group-item">Nadanie Biura/Departamentu : '{{ obj.departament.name }}'</a>
                          <a class="list-group-item">Nadanie nowych uprawnień w oparciu o departament '{{ obj.departament.name }}'</a>
                          <a class="list-group-item">Nadanie Imienia i Nazwiska '{{ obj.nazwisko ~ " " ~ obj.imie }}'</a>
                          <a class="list-group-item">Nadanie loginu '{{ obj.login }}'</a>
                          {% else %}
                          <a class="list-group-item">Odebranie wszystkich dotychczasowych uprawnień</a>
                          <a class="list-group-item">Nadanie Biura/Departamentu : '{{ obj.departament.name }}'</a>
                          <a class="list-group-item">Nadanie nowych uprawnień w oparciu o departament '{{ obj.departament.name }}'</a>
                          {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <a href="#" onclick="zapisz{{ obj.id }}()" class="btn btn-success" data-dismiss="modal">Przypisz <i class="fas fa-check-circle">&nbsp;</i> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- modal usun -->
    <div id="deleteSelection{{ obj.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                         Usunięcie użytkownika z kolejki importu
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="alert alert-danger">
                            <h2>
                            Akceptujesz usunięcie użytkownika z kolejki importu!
                            </h2>
                        </div>
                        <div class="list-group">
                          <a class="list-group-item active">Wykonane zostaną następujące czynności:</a>
                          <a class="list-group-item">Usunięcie użytkownika {{ obj.nazwisko ~ " " ~ obj.imie }} z kolejki importu</a>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <a href="#" onclick="usun{{ obj.id }}()" class="btn btn-success" data-dismiss="modal">Usuń <i class="fas fa-check-circle">&nbsp;</i> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- koniec modal usun -->
    <script>
        function zapisz{{ obj.id }}(){
            console.info("Zapisz nr 2");
            console.log("obj id: ", this);
            var url = "{{ path('przypiszUtworzUzytkownika', {id: obj.id, samaccountname: (obj.newUnproccessed == 1 ? 'nowy' : obj.login)}) }}";
            console.log("url: ", url);
            var form = $('form', $("#acceptUser{{ obj.id }}")).serialize();
            console.log("form: ", form);
            var manager = $('select[name="form[manager]"]', $("#acceptUser{{ obj.id }}")).val();
            console.log("menager: ", manager);
            save(url, form, manager, {{ obj.id }});
        }
    </script>
{% endfor %}
{% endif %}
<script type="text/javascript">
    /* function save(url, data, manager, id) {
        console.log(manager);
        if (manager === '') {
            alert('Musisz wybrać przełożonego!');
        } else {
            $.post(url, data, function (result) {}).success(function () {
                $('#acceptUser' + id).removeClass('alert-danger').addClass('alert-success');
                $('button', $('#acceptUser' + id)).remove();
                $('select, input', $('#acceptUser' + id)).prop('disabled', true);
            });
        }
    } */

    function save(url, data, manager, id) {
        console.log(manager);
        if (manager === '') {
            alert('Musisz wybrać przełożonego!');
        } else {
            var jqxhr = $.post(url, data, function (result) {
                console.info("First success ", url, data, result);
            }).done(function () {
                console.log("ID when done: ", id);
                $('#acceptUser' + id).removeClass('alert-danger').addClass('alert-success');
                $('button', $('#acceptUser' + id)).remove();
                $('select, input', $('#acceptUser' + id)).prop('disabled', true);
            }).fail(function () {
                console.warn("Zapisanie przełożonego nie powiodło się");
            }).always(function() {
                console.log( "Zapisywanie ukończone" );
            });
        }
    }

    //$("table.tablesorter").tablesorter();
</script>

{% endblock %}
