{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h2>To jest</h2>
            <table class="table">
                <tr>
                    <td class="info">
                        Wniosek :
                    </td>
                    <td>
                        {{ wniosek.wniosekNadanieOdebranieZasobow is not null ? "O nadanie/odebranie uprawnień do zasobów" : "Wniosek o utworzenie/zmianę/skasowanie zasobu" }} o id :
                        <b>{{ wniosek.wniosekNadanieOdebranieZasobow is not null ? wniosek.wniosekNadanieOdebranieZasobow.id : wniosek.wniosekUtworzenieZasobu.id }}    </b>
                        <a href="{{ wniosek.wniosekNadanieOdebranieZasobow is not null ? path('wnioseknadanieodebraniezasobow_show', {'id': wniosek.wniosekNadanieOdebranieZasobow.id}) : path('wniosekutworzeniezasobu_edit', {'id': wniosek.wniosekUtworzenieZasobu.id}) }}" class="btn btn-primary">Link do wniosku</a>
                    </td>
                </tr>
                <tr>
                    <td class="info">Status:</td>
                    <td>{{ wniosek.status }}</td>
                </tr>
                <tr>
                    <td class="info">Viewers:</td>
                    <td>
                        {% for v in wniosek.viewers %}
                            <button class="btn">{{ v.samaccountname }}</button>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="info">Editors:</td>
                    <td>
                        {% for v in wniosek.editors %}
                            <button class="btn">{{ v.samaccountname }}</button>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <h2>To ma być</h2>
            <div class="alert alert-danger">
                Ten ekran służy do ręcznego ustawienia statusu wniosku i osób odpowiedzialnych za dalsze procedowanie wniosku!<br />
                Używać tylko w szczególnych przypadkach i używać BARDZO OSTROŻNIE!<hr />
                <b>Jednorazowo możesz zmienić status wniosku (osoby we wniosku zostaną przydzielone automatycznie) lub osoby we wniosku. Użyj przycisku poniżej aby przełączyć formularz.</b> <br />
                <input
                    id="form_type_change"
                    type="checkbox"
                    data-toggle="toggle"
                    data-on="Edytuj status"
                    data-off="Edytuj osoby"
                    data-onstyle="info"
                    data-offstyle="danger"
                    data-width="200"
                    checked
                />
            </div>
            {{ form_start(form) }}
                {{ form_label(form.status) }}
                {{ form_widget(form.status, {'attr': {'class': 'form-control', 'data-change-status': true}}) }}

                {{ form_label(form.viewers, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_widget(form.viewers, {'attr': {'class': 'form-control select2', 'disabled': 'disabled', 'data-change-person': true}}) }}

                {{ form_label(form.editors, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_widget(form.editors, {'attr': {'class': 'form-control select2', 'disabled': 'disabled', 'data-change-person': true}}) }}

                {{ form_label(form.powod, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_widget(form.powod, {'attr': {'class': 'form-control'}}) }}

                {{ form_widget(form.zapisz, {'attr': {'class': 'btn btn-danger col-sm-12'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            var msg = $('#parp_mainbundle_przekierowaniewniosku_powod').val();
            if (msg == '') {
                alert('Musisz podac powod!!!');
                e.preventDefault();
                return false;
            } else {
                return true;
            }
        });

        $('#form_type_change').change(function () {
            if ($(this).prop('checked')) {
                $('[data-change-status]').removeAttr('disabled');
                $('[data-change-person]').prop('disabled','disabled');
            } else {
                $('[data-change-person]').removeAttr('disabled');
                $('[data-change-status]').prop('disabled','disabled');
            }
        })
    });
</script>
{% endblock %}
