{% if  included == 0 %}
{% extends  '::base.html.twig' %}
{%endif%}

{% block body %} 
    
    {% include 'ParpMainBundle:NadawanieUprawnienZasobow:addInner.html.twig' %}
    
{%endblock%}

{% form_theme form  'bootstrap_3_horizontal_layout.html.twig' _self %}

{% block _form_fromWhen_widget %}
<div class="input-group datepicker" >
    {{ block('form_widget_simple') }}
    <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
    </span>
</div>
{% endblock %} 

{% block _form_access_widget %}
    <div class="col-sm-12 ">
        <div class="col-sm-1">    
            
        </div>
        <div class="col-sm-7">    
            Zasób/uprawnienie
        </div>
        <div class="col-sm-4">    
            Opis
        </div>
    </div>
    {{ block('form_widget') }}
{% endblock %} 

{% block checkbox_radio_row -%}
{% spaceless %}
    <div class="col-sm-12 {% if not valid %} has-error{% endif %} {{label|getMultipleCheckboxLabelClasses }} uprawnienieRow">
        
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{%- endblock checkbox_radio_row %}
{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' noPadding ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
            <div class="col-sm-1">
                {{- widget|raw }} 
            </div>
            <div class="col-sm-7">
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} 
                data-ajaxload2="/app_dev.php/dev/getUzInfo" data-original-title="Tytuył" class="noPadding">
                {{ (label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)))|getMultipleCheckboxLabel(0) -}}
                </label>
            </div>
            <div class="col-sm-4">
                {{ (label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)))|getMultipleCheckboxLabel(1)|raw}}
                
            </div>
    {% endif %}
{% endblock checkbox_radio_label %}
