{% extends '::base.html.twig' %}


{% block body %} 
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#wniosek">Wniosek</a></li>
            <li><a data-toggle="tab" href="#zasobypast">Zasoby już we wniosku</a></li>
            <li class="active"><a data-toggle="tab" href="#zasoby">Zasoby</a></li>
        </ul>
        
        
        <div class="tab-content">
            <div id="wniosek" class="tab-pane fade">
                <table class="record_properties table table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ wniosek.id }}</td>
                    </tr>
                    <tr>
                        <th>Numer</th>
                        <td>
                            <div class="alert alert-success">{{ wniosek.wniosek.numer }}</div>
                            
                            {% if wniosek.wniosek.parent%}
                                
                                <a href="{{path('wnioseknadanieodebraniezasobow_show', {id: wniosek.wniosek.parent.wniosekNadanieOdebranieZasobow.id})}}" class="btn btn-info">powstał z podzielenia wniosku Wniosku o nr {{entity.wniosek.parent.numer}}</a>
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            {{ wniosek.wniosek.status }}
                            {% if wniosek.wniosek.status.nazwaSystemowa == "10_PODZIELONY" %}
                                Na wnioski:
                                <ul class="list-group">
                                {% for w in entity.wniosek.children %}
                                    <li class="list-group-item"><a class="btn btn-info" href="{{path('wnioseknadanieodebraniezasobow_show', {id: w.wniosekNadanieOdebranieZasobow.id})}}">Wniosek nr {{w.numer}} - {{w.status.nazwa}}</a></li>
                                {%endfor %}                           
                                </ul>
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <th>Osoby których dotyczy wniosek</th>
                        <td>{{ wniosek.pracownicy }}</td>
                    </tr>
                    <tr>
                        <th>Czy pracownik/pracownicy spoza PARP</th>
                        <td>{{ wniosek.pracownikSpozaParp ? "TAK" : "NIE" }}</td>
                    </tr>
                    <tr>
                        <th>Jednostka organizacyjna</th>
                        <td>{{ wniosek.wniosek.jednostkaOrganizacyjna }}</td>
                    </tr>
                    <tr>
                        <th>Utworzony przez</th>
                        <td>{{ wniosek.wniosek.createdBy }}</td>
                    </tr>
                    <tr>
                        <th>Utworzony dnia</th>
                        <td>{{ wniosek.wniosek.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Edytowany (zablokowany) przez</th>
                        <td>{{ wniosek.wniosek.lockedBy }}</td>
                    </tr>
                    <tr>
                        <th>Edytowany (zablokowany) dnia</th>
                        <td>{{ wniosek.wniosek.lockedAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    
                    <tr>
                        <th>Osoby które widzą wniosek</th>
                        <td>{{ wniosek.wniosek.viewernames }}</td>
                    </tr>
                    <tr>
                        <th>Osoby które mogą edytować wniosek</th>
                        <td>{{ wniosek.wniosek.editornames }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div id="zasobypast" class="tab-pane fade">
        
            
                <table class="record_properties table table-striped">
                    <tbody>
                        <tr>
                            <th>Osoba</th>
                            <th>Nazwa</th>
                            <th>Moduł</th>
                            <th>Poziom dostępu</th>
                            <th>Sumowanie uprawnień</th>
                            <th>Aktywne od</th>
                            <th>Bezterminowo</th>
                            <th>Aktywne do</th>
                            <th>Kanał dostępu</th>
                            <th>Uprawnienia administracyjne</th>
                            <th>Odstepstwo od procedury</th>                  
                        </tr>
                        {% for z in wniosek.userzasoby %}
                            <tr>
                                <td>{{z.zasobNazwa}}</td>
                                <td>{{z.samaccountname}}</td>
                                <td>{{z.modul}}</td>
                                <td>{{z.poziomDostepu}}</td>
                                <td>{{z.sumowanieUprawnien}}</td>
                                <td>{{z.aktywneOd|date}}</td>
                                <td>{{z.bezterminowo}}</td>
                                <td>{{z.aktywneDo|date}}</td>
                                <td>{{z.kanalDostepu}}</td>
                                <td>{{z.uprawnieniaAdministracyjne}}</td>
                                <td>{{z.odstepstwoOdProcedury}}</td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div id="zasoby" class="tab-pane fade in active ">
                {% include 'ParpMainBundle:NadawanieUprawnienZasobow:addInner.html.twig' %}
            
            </div>
        </div>


    
{%endblock%}

