{% extends '::base.html.twig' %}

{% block body %}

    {#<div class="alert alert-danger">
        <h1>UWAGA!!!!!</h1>
        Dnia 12.01.2017 zostaną odebrane uprawnienia, które nie są uprawnieniami podstawowymi pracownika i nie wynikają z wniosków o nadanie uprawnień złożonych w AkD

    </div>#}
    <table class="table">
        <tr>
            <th>Obecne uprawnienia</th>
            <th>Uprawnienia które pozostaną</th>
{#             <th>Nowe uprawnienia</th> #}
            <th>Uprawnienia które zostaną odebrane</th>
            {% if "PARP_ADMIN" in app.user.roles %}
            <th>Wszystkie uprawnienia na które są wnioski</th>
            {% endif %}

        </tr>
        <tr>
            <td>
                {% for g in uprawnienia.maGrupy %}
                    <div class="alert alert-info">{{ g }}</div>
                {% endfor %}
            </td>
            <td>
                {% for g in uprawnienia.powinienMiec.grupyAD %}
                    <div class="alert alert-success">{{ g }}</div>
                {% endfor %}
            </td>
{#
            <td>
                {% for g in uprawnienia.dodac %}
                    <div class="alert alert-warning">{{ g }}</div>
                {% endfor %}
            </td>
#}
            <td>
                {% for g in uprawnienia.zdjac %}
                    <div class="alert alert-danger">
                    {{ g.grupaAD }}
                    {% if(g.zasob) %}
                    <a href="{{ url('wnioseknadanieodebraniezasobow_new_dla_zasobow', {'zasobyId' : g.zasob.id}) }}" class="btn btn-success">Złóż wniosek o nadanie uprawnień do tego zasobu</a>
                    {% endif %}
                    </div>
                {% endfor %}

                {#
                    {% if(uprawnienia.zasobyId) %}
                    <a href="{{ url('wnioseknadanieodebraniezasobow_new_dla_zasobow', {'zasobyId' : uprawnienia.zasobyId}) }}" class="btn btn-success">Złóż wniosek o nadanie uprawnień do odbieranych zasobów</a>
                    {% endif %}
                #}
            </td>

            {% if "PARP_ADMIN" in app.user.roles %}
            <td>
                {% for g in uprawnienia.powinienMiec.sumaZWnioskow %}
                    <div class="alert alert-{{ g.grupa == 'brak' ? "warning" : (g.jestWAD ? "success" : "danger") }}">
                        Zasób :
                        <a href="{{ url('zasoby_edit', {'id' : g.zasobId}) }}" class="btn btn-success">{{ g.zasob }}</a>

                        {% if g.grupa == 'brak' %}
                            ZASÓB NIE MA GRUPY AD
                        {% else %}
                        GrupaAD: <b>{{ g.grupa }}</b>, ({{ g.jestWAD ? "grupa ISTNIEJE" : "grupa NIE ISTNIEJE" }})
                        {% endif %}
                    </div>
                {% endfor %}
            </td>
            {% endif %}
        </tr>
    </table>

{% endblock %}