W związku ze zmianą komórki organizacyjnej/sekcji/stanowiska użytkownika o loginie sieciowym {{ dotyczy }}, należy zweryfikować czy w systemie AkD są wnioski o nadanie uprawnień do:<b>
{{ object.getNazwa() }}</b>,<br/><br/>
Moduł: <br/>
<ul>
    {% for item in modul %}
        <li>{{ item }}</li>
    {% endfor %}

</ul><br/>
Poziom dostępu: <br/>
<ul>
    {% for item in poziom %}
        <li>{{ item }}</li>
    {% endfor %}

</ul><br/>
przeprocesowane po dacie zmiany, tzn.: {{ data_zmiany|date('Y-m-d') }} <br/>
Jeśli nie ma wniosków należy odebrać uprawnienia do wskazanych powyżej zasobów.<br/><br/>
<b>Odebranie uprawnień zostało już odnotowane w systemie Aktywny Dyrektor.</b>
