W związku z powrotem z długotrwałej nieobecności ww. pracownika prosimy o wypełnienie formularza znajdującego się w linku poniżej.<br/><br/>

<a href="https://glpi-ba.parp.gov.pl/plugins/formcreator/front/formdisplay.php?id=1&imie={{ imie_nazwisko }}&jedn={{ departament }}&stan={{ stanowisko }}&data={{ "now"|date("Y-m-d") }}">Powracający pracownik - formularz</a><br /><br />

Na podstawie wypełnionych informacji zostanie przygotowane stanowisko pracy łącznie z kartą dostępu oraz wpisaniem pracownika na listę upoważnionych do pobierania kluczy do wskazanych pomieszczeń.<br/>><br/>

W razie pytań służymy pomocą.<br /><br />

Dodatkowo informujemy, że ww. pracownik <b>{{ "now"|date("Y-m-d") }}</b> otrzymał uprawnienia podstawowe. W przypadku konieczności rozszerzenia uprawnień, należy złożyć wniosek za pomocą AkD.
<br/><br/>

Pozdrawiamy,<br />
Biuro Administracji
