<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            {# <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}"> #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slider.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.tagit.css') }}">
            <link rel="stylesheet" href="{{ asset('css/tagit.ui-zendesk.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.treegrid.css') }}">
            <link rel="stylesheet" href="{{ asset('css/table.sorter.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-toggle.min.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
            <script type="text/javascript"src="{{ asset('js/moment.min.js') }}"></script>
            <script type="text/javascript"src="{{ asset('js/moment-with-langs.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-slider.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.maskedinput.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jsapi.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/tag-it.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.are-you-sure.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.treegrid.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.treegrid.bootstrap3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/colResizable-1.6.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.tablesorter.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-toggle.min.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
            <!--scrypty z nowymi ścieżkami do node-modules -->
            <script type="text/javascript" src="{{ asset('../node_modules/bootstrap-filestyle/bootstrap-filestyle.min.js') }}"></script>
        {% endblock %}

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

        <title>Aktywny Dyrektor 2.1 {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{{ app.request.attributes.get('_route') }}">
    <div>
        {% if app.user %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('powitalna') }}">Aktywny Dyrektor <small>v2.1</small></a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            {% if "PARP_ADMIN_REJESTRU_ZASOBOW" in app.user.roles or "PARP_BZK_1" in app.user.roles or "PARP_BZK_2" in app.user.roles or "PARP_AZ_UPRAWNIENIA_BEZ_WNIOSKOW" in app.user.roles %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Kadry <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('main') }}"><i class="fa fa-users"></i> użytkownicy w AD</a></li>
                                    {% if "PARP_ADMIN_REJESTRU_ZASOBOW" in app.user.roles or "PARP_BZK_1" in app.user.roles or "PARP_BZK_2" in app.user.roles %}
                                        <li><a href="{{ path('przejrzyjnowych') }}"><i class="fa fa-exclamation-circle"></i> użytkownicy problematyczni - nowi z rekorda</a></li>
                                        <li><a href="{{ path('main', {'onlyTemporary': 'onlyTemporary'}) }}"><i class="fa fa-user"></i> użytkownicy nowi (czekający na utworzenia w AD)</a></li>
                                        <li><a href="{{ path('userAdd') }}"><i class="fa fa-plus-square"></i> Dodaj użytkownika</a></li>
                                        <li><a href="{{ path('lista_odblokowania', {'ktorzy': 'nieobecni'}) }}"><i class="far fa-user-injured"></i> Odblokuj nieaktywnego użytkownika</a></li>
                                        <li><a href="{{ path('lista_odblokowania', {'ktorzy': 'zablokowane'}) }}"><i class="fas fa-user-lock"></i> Odblokuj zablokowanego użytkownika</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% endif %}

                            {% if "PARP_ADMIN" in app.user.roles %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i> Słowniki <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('departament') }}"><i class="fa fa-building"></i> Biura / Departamenty</a></li>
                                        <li><a href="{{ path('section') }}"><i class="fa fa-archive"></i> Sekcje</a></li>
                                        <li><a href="{{ path('position') }}"><i class="fa fa-user-md"></i> Stanowiska</a></li>
                                        <li><a href="{{ path('engagement') }}"><i class="fa fa-calendar"></i> Zaangażowania</a></li>
                                        <li><a href="{{ path('uprawnienia') }}"><i class="fal fa-edit"></i> Uprawnienia</a></li>
                                        <li><a href="{{ path('grupyuprawnien') }}"><i class="fa fa-list-ul"></i> Grupy uprawnień</a></li>
                                        <li><a href="{{ path('aclrole') }}"><i class="fa fa-female"></i> Role w systemie</a></li>
                                        <li><a href="{{ path('aclaction') }}"><i class="fa fa-arrows-alt"></i> Akcje w systemie</a></li>
                                        <li><a href="{{ path('wniosekstatus') }}"><i class="fal fa-ballot-check"></i> Statusy wniosków</a></li>
                                        <li><a href="{{ path('jasper_management') }}"><i class="fas fa-folder-tree"></i> Zasoby Jasper</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-database"></i> Zasoby <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('zasoby') }}"><i class="fa fa-database"></i> Zasoby</a></li>
                                    <li><a href="{{ path('zadanie') }}"><i class="fas fa-cog"></i> Zadania</a></li>
                                    <li><a href="{{ path('wnioseknadanieodebraniezasobow') }}"><i class="fas fa-file-alt"></i> Wnioski o nadanie/odebranie uprawnień</a></li>
                                    <li><a href="{{ path('wniosekutworzeniezasobu') }}"><i class="fa fa-briefcase"></i> Wnioski o utworzenie zasobu</a></li>
                                    <li><a href="{{ path('zastepstwo') }}"><i class="fa fa-exchange"></i> Zastępstwa</a></li>
                                    <li><a href="{{ path('reports_list') }}"><i class="fas fa-file-alt"></i> Raporty Jasper</a></li>
                                </ul>
                            </li>

                            {% if "PARP_ADMIN" in app.user.roles %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="far fa-user-cog"></i> DEV <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="{{ path('listLogs') }}"><i class="fal fa-file-alt"></i> Logi z wypychania do AD</a></li>
                                        <li class=""><a href="{{ path('form_file_ecm') }}"><i class="fal fa-file-alt"></i> Wczytaj dane ECM</a></li>
                                        <li><a href="{{ path('importfirebird_grid_index') }}"><i class="fa fa-male"></i>  Dane w rekord obecnie</a></li>
                                        <li><a href="{{ path('importfirebird') }}"><i class="fa fa-male"></i> Import rekord</a></li>
                                        <li><a href="{{ path('danerekord') }}"><i class="fa fa-list"></i> Dane rekord</a></li>
                                        <li><a href="{{ path('aduser') }}"><i class="fa fa-user"></i> Users AD</a></li>
                                        <li><a href="{{ path('adgroup') }}"><i class="fas fa-users"></i> Groups AD</a></li>
                                        <li><a href="{{ path('adorganizationalunit') }}"><i class="fa fa-folder-open"></i> OUs AD</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% if "PARP_BZK_RAPORTY" in app.user.roles or "PARP_ADMIN" in app.user.roles %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="far fa-file-chart-line"></i> Raporty <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% if "PARP_BZK_RAPORTY" in app.user.roles %}
                                            <li class=""><a href="{{ path('raportyKadrowe') }}"><i class="far fa-user-cog"></i>Raport kadrowy</a></li>
                                        {% endif %}

                                        {% if "PARP_ADMIN" in app.user.roles %}
                                            <li class=""><a href="{{ path('raportIT1') }}"><i class="fas fa-file-code"></i> Raport IT</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown red-tooltip"
                                data-toggle="popover"
                                title="Role w systemie AkD:"
                                data-content="{{ app.user.getRolesHtml }}"
                                data-placement="left">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Wyloguj</a></li>
                                    </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}

        <div class="container-fluid">
            {% if not app.user %}
                <div class="row">
                    <div class="page-header">
                        <h1>Aktywny Dyrektor <small>v2.1</small></h1>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                {% for type, flashMessages in app.session.flashbag.all %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Uwaga!</strong>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>

        {% if app.user %}
            {% if app.request.attributes.get('_route') != path('nowa_pomoc_techniczna') %}
                <footer class="helpdesk">
                    <span class="copy">© Polska Agencja Rozwoju Przedsiębioroczości 2019</span>
                    <a href="{{ path('nowa_pomoc_techniczna',{uri: app.request.uri|url_encode }) }}"><small>Zgłoś problem techniczny</small></a>
                </footer>
            {% endif %}
        {% else %}
           <footer class="helpdesk">
                <span class="copy">© Polska Agencja Rozwoju Przedsiębioroczości 2019</span>
                <a href="{{ path('nowe_zgloszenie',{uri: app.request.uri|url_encode }) }}"><small>Zgłoś problem techniczny</small></a>
            </footer>
        {% endif %}

        {% include '::javascripts.html.twig' %}
    </body>
</html>
