<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
{#             <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> #}
            {#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
            {#<link rel="stylesheet" href="//bootswatch.com/cerulean/bootstrap.min.css">#}
            <link rel="stylesheet" href="{{ asset('css/bootstrap1.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slider.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.tagit.css') }}">
            <link rel="stylesheet" href="{{ asset('css/tagit.ui-zendesk.css') }}">
            <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.treegrid.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
            {#        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>#}
            <script type="text/javascript"src="{{ asset('js/moment.min.js') }}"></script>
            <script type="text/javascript"src="{{ asset('js/moment-with-langs.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-slider.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.maskedinput.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jsapi.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript" src="{{ asset('js/tag-it.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/select2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.are-you-sure.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.treegrid.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.treegrid.bootstrap3.js') }}"></script>

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        <title>Aktywny Dyrektor 2.0 {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    </div>
        {% if app.user %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('main') }}">Aktywny Dyrektor <small>v2.0 beta</small></a>
                    </div>
                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="{{ path('main') }}"><i class="fa fa-home"></i> Strona główna</a></li>
                            
                            <li><a href="{{ path('main') }}"><i class="fa fa-user"></i> użytkownicy</a></li>
                            <li><a href="{{ path('main', {'onlyTemporary' : 'onlyTemporary'}) }}"><i class="fa fa-user"></i> użytkownicy nowi</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i> Słowniki <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('departament') }}">Biura / Departamenty</a></li>
                                    <li><a href="{{ path('section') }}">Sekcje</a></li>
                                    <li><a href="{{ path('position') }}">Stanowiska</a></li>
                                    <li><a href="{{ path('engagement') }}">Zaangażowania</a></li>
                                    <li><a href="{{ path('zasoby') }}">Zasoby</a></li>
                                    <li><a href="{{ path('uprawnienia') }}">Uprawnienia</a></li>
                                    <li><a href="{{ path('grupyuprawnien') }}">Grupy uprawnień</a></li>
                                    <li><a href="{{ path('aclrole') }}">Role w systemie</a></li>
                                    <li><a href="{{ path('aclaction') }}">Akcje w systemie</a></li>
                                    <li><a href="{{ path('wniosekstatus') }}"><i class="fa fa-list"></i> Statusy wniosków</a></li>
                                    
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i> Czynności <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('zadanie') }}"><i class="fa fa-gear"></i> Zadania</a></li>
                                    <li><a href="{{ path('wnioseknadanieodebraniezasobow') }}"><i class="fa fa-list"></i> Wnioski</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i> Raporty <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Raport 1</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Raport 2</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-floppy-o"></i> Import <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class=""><a href="{{ path('form_file_ecm') }}"><i class="fa fa-floppy-o"></i> Wczytaj dane z ECM</a></li>
                                    <li><a href="{{ path('importfirebird') }}"><i class="fa fa-floppy-o"></i> Import rekord</a></li>
                                </ul>
                            </li>
                            
                            
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Wyloguj</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        {% endif %}
        <div class="container">
            {% if not app.user %}
            <div class="row">
                <div class="page-header">
                    <h1>Aktywny Dyrektor <small>v2.0<small> beta</small></small></h1>
                </div>
            </div>
            {% endif %}
            <div class="row">
    {% block body %}{% endblock %}
            </div>

        </div>
        {% if app.user %}
            {% if app.request.attributes.get('_route') != path('nowa_pomoc_techniczna') %}
                <div class="text-center"><a href="{{path('nowa_pomoc_techniczna',{uri:app.request.uri|url_encode })}}"><small>Zgłoś problem techniczny</small></a></div>
            {% endif %}
        {% else %}
           <div class="text-center"><a href="{{path('nowe_zgloszenie',{uri:app.request.uri|url_encode })}}"><small>Zgłoś problem techniczny</small></a></div>
        {% endif %}
        {% include '::javascripts.html.twig' %}
    </body>
</html>
