{% extends '::base.html.twig' %}

{% block body -%}

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    <div class="col-sm-12">
        <div class="alert alert-info">
            <h3>Wniosek o {{ entity.typ == "zmiana" ? "zmianę" : (entity.typ == "nowy" ? "utworzenie" : "usunięcie") }} zasobu numer : {{ entity.wniosek.numer }}</h3>
            <ul>
                <li><b>Zasób :</b>
                {% if entity.typ == 'nowy' %}
                {{ entity.zasob ? entity.zasob.nazwa : "" }}
                {% else %}
                {{ entity.zmienianyZasob ? entity.zmienianyZasob.nazwa : "" }}
                {% endif %}

                </li>
                <li><b>Typ wniosku :</b> {{ entity.typ }}</li>
                <li><b>Statusy:</b></li>
            </ul>
            <div class="well well-sm statusyWniosku">
                {# {% set bylJuzPierwszyParent = false %} #}
                {% set numer_iteracji = 0 %}
                <ul class="list-inline">
                    {% for ss in entity.wniosek.statusy %}
                        <li class="red-tooltip list-group-item btn-{{ ss.status.finished ? (ss.status.nazwaSystemowa == "07_ROZPATRZONY_POZYTYWNIE_O_ZASOB" or ss.status.nazwaSystemowa == "11_OPUBLIKOWANY_O_ZASOB" ? "success" : "danger") : "default" }}"
                        data-toggle="popover" title="Data: {{ ss.createdAt|date("Y-m-d H:i:s") }}" data-content="{{ ss.createdAt|date("Y-m-d H:i:s") }}  : {{ ss.createdBy }} {% if(ss.status.nazwaSystemowa == "10_PODZIELONY" and numer_iteracji != entity.wniosek.statusy|length - 1) %}Podzielony wniosek nr {{ wniosekDoLinku.numer }} {% endif %}"
                        >
                            <i class="glyphicon glyphicon-asterisk" >&nbsp;</i>{{ ss.statusName }} <i class="glyphicon glyphicon-{{ ss.status.finished ? (ss.status.nazwaSystemowa == "11_OPUBLIKOWANY_O_ZASOB" ? "ok-circle" : (ss.status.nazwaSystemowa == "10_PODZIELONY_O_ZASOB" ? "glyphicon glyphicon-random" : "remove-circle")) : "arrow-right" }}">&nbsp;</i>

                        </li>
                    {% endfor %}
                </ul>
            </div>
            <h4>Akcje:</h4>
            <div class="btn-group container">
                {% if readonly %}
                    <a href="{{ path('wniosekutworzeniezasobu_edit', {'id': entity.id}) }}" class="btn btn-primary">Edytuj wniosek</a>
                {% endif %}

                    {% if canUnblock %}
                    <a href="{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'unblock'}) }}" class="btn btn-primary">Odblokuj wniosek <i class="glyphicon glyphicon-check">&nbsp;</i> </a>
                    {% endif %}
                {% if editor and readonly %}
                    {% if
                        entity.wniosek.status.nazwaSystemowa == "03_EDYCJA_PARP_ADMIN_REJESTRU_ZASOBOW" or
                        entity.wniosek.status.nazwaSystemowa == "05_EDYCJA_TECHNICZNY_O_ZASOB" %}
                        <a data-toggle="collapse" data-target="#rejectDiv" onclick="$('#subFormOdrzucenie').attr('action', '{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'moveToAdmin'}) }}');" class="btn btn-info">Odbij do administratora zasobu<i class="glyphicon glyphicon-arrow-right">&nbsp;</i> </a>
                    {% endif %}
                    {% if
                        entity.wniosek.status.nazwaSystemowa == "03_EDYCJA_PARP_ADMIN_REJESTRU_ZASOBOW" or
                        entity.wniosek.status.nazwaSystemowa == "04_EDYCJA_ADMINISTRATOR_O_ZASOB" %}
                        <a data-toggle="collapse" data-target="#rejectDiv" onclick="$('#subFormOdrzucenie').attr('action', '{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'moveToAdminTechniczny'}) }}');"  class="btn btn-info">Odbij do administratora technicznego zasobu<i class="glyphicon glyphicon-arrow-right">&nbsp;</i> </a>
                    {% endif %}
                    {% if
                        entity.wniosek.status.nazwaSystemowa == "05_EDYCJA_TECHNICZNY_O_ZASOB" or
                        entity.wniosek.status.nazwaSystemowa == "04_EDYCJA_ADMINISTRATOR_O_ZASOB" %}
                        <a data-toggle="collapse" data-target="#rejectDiv" onclick="$('#subFormOdrzucenie').attr('action', '{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'moveToAdminRejestru'}) }}');"  class="btn btn-success">Odbij do administratora rejestru zasobów<i class="glyphicon glyphicon-arrow-right">&nbsp;</i> </a>
                    {% endif %}
                    {% if entity.wniosek.status.nazwaSystemowa == "03_EDYCJA_PARP_ADMIN_REJESTRU_ZASOBOW" %}
                        {% if entity.typ == 'kasowanie' %}
                            <a data-toggle="collapse" data-target="#selectDate" class="btn btn-success">Opublikuj do Rejestru zasobów<i class="glyphicon glyphicon-ok-sign">&nbsp;</i> </a>
                            {% else %}
                            <a href="{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'acceptAndPublish'}) }}" class="btn btn-success">Opublikuj do Rejestru zasobów<i class="glyphicon glyphicon-ok-sign">&nbsp;</i> </a>
                        {% endif %}
                    {% else %}
                        {% if not (
                            entity.wniosek.status.nazwaSystemowa == "04_EDYCJA_ADMINISTRATOR_O_ZASOB" or
                            entity.wniosek.status.nazwaSystemowa == "05_EDYCJA_TECHNICZNY_O_ZASOB") %}
                        <a href="{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'accept'}) }}" class="btn btn-success">{{ entity.wniosek.status.nazwaSystemowa in ['00_TWORZONY_O_ZASOB', '01_EDYCJA_WNIOSKODAWCA_O_ZASOB'] ? "Złóż" : "Zaakceptuj" }} wniosek <i class="glyphicon glyphicon-ok-sign">&nbsp;</i> </a>
                        {% endif %}

                    {% endif %}

                    {% if canReturn %}
                        <a  data-toggle="collapse" data-target="#rejectDiv"  onclick="$('#subFormOdrzucenie').attr('action', '{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'return'}) }}');"
                        class="btn btn-info">Zwrot do poprawy o jeden krok <i class="glyphicon glyphicon-arrow-left">&nbsp;</i> </a>

                    {% endif %}

                    {% if entity.wniosek.status.nazwaSystemowa != '00_TWORZONY_O_ZASOB' %}
                        <a data-toggle="collapse" data-target="#rejectDiv" onclick="$('#subFormOdrzucenie').attr('action', '{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'reject'}) }}');"
                            class="btn btn-danger">Odrzuć wniosek <i class="glyphicon glyphicon-remove-sign">&nbsp;</i></a>
                    {% endif %}
                {% endif %}

                {% if 'PARP_ADMIN_REJESTRU_ZASOBOW' in app.user.roles and entity.wniosek.id > 0 %}
                    <a href="{{ path('wniosek_przekieruj', {'id': entity.wniosek.id}) }}" class="btn btn-warning">Przekaż ręcznie wniosek <i class="glyphicon glyphicon-arrow-right">&nbsp;</i></a>
                {% endif %}
            </div>
            <div class="collapse" id="rejectDiv">
                <form action="" method="POST" id="subFormOdrzucenie">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="parp_mainbundle_komentarz_opis">Powód odbicia wniosku</label>
                        <div class="col-sm-10">
                            <textarea id="powodZwrotu" name="powodZwrotu" class="form-control"  placeholder="Wpisz powod odbicia wniosku"></textarea>
                        </div>
                    </div>
                    <div class="form-group paddingTop20 container">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                        <button type="submit" class="btn btn-danger">Wykonaj akcje </button>
                        </div>
                    </div>
                </form>
            </div>
            {% if entity.wniosek.status.nazwaSystemowa == "03_EDYCJA_PARP_ADMIN_REJESTRU_ZASOBOW" and entity.typ == "kasowanie" %}
                <div class="collapse" id="selectDate">
                    <form action="{{ path('wniosekutworzeniezasobu_accept_reject', {id: entity.id, isAccepted: 'acceptAndPublish'}) }}" method="POST" id="subFormAccept">
                    <br />
                    <div class="alert alert-warning">Pozostaw puste pole jeżeli automatycznie wstawić datę dzisiejszą.</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required" for="parp_mainbundle_komentarz_opis">Wybierz datę usunięcia zasobu</label>
                            <div class="col-sm-10">
                            <input name="dataOdebrania" id="dataOdebrania" class="datepicker form-control" type="text" />
                            </div>
                        </div>

                        <div class="form-group paddingTop20 container">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-10">
                            <button type="submit" class="btn btn-danger">Wykonaj akcje </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
            {% if(entity.powodZwrotu != "") %}
                <div class="alert alert-danger">
                    <h3>Powód odbicia wniosku:</h3>
                    {{ entity.powodZwrotu }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-12">
        <ul class="nav nav-tabs" id="navTabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#zasob">Dane o zasobie</a></li>
            <li><a data-toggle="tab" href="#pliki">Pliki</a></li>
            <li><a data-toggle="tab" href="#komentarze">Komentarze {% if(entity.id > 0 and comments > 0) %}<span class="badge">{{ comments }}</span>{% endif %}</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
            <li><a data-toggle="tab" href="#historiaAkceptacji">Historia akceptacji</a></li>
            {% if(entity.wniosek.ADentries|length > 0) %}

            <li><a data-toggle="tab" href="#statusAD">Status w AD</a></li>
            {% endif %}
        </ul>
        {{ form_start(form, {'attr': {'class': 'aaa' }}) }}
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">

                <div class="tabContent">
                    {% if not readonly %}
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-3 control-label"></label>
                        <div class="col-sm-10 col-lg-9 pull-right">{{ form_widget(form.dalej, {'attr': {'onclick': 'submitFirstForm(event)' }}) }}  </div>
                    </div>
                    {% endif %}
                    <table class="table bordered">
                        <tr>
                            <th rowspan="3" vertical-align="middle" >
                                Typ wniosku
                            </th>
                            <th>Zgłoszenie nowego zasobu</th>
                            <th>Zgłoszenie zmiany</th>
                            <th>Wycofanie zasobu</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-2 col-lg-3">{{ form.vars.value.typWnioskuDoRejestru ? "<i class='fa fa-check-square'>&nbsp;</i>" : "<i class='fa fa-square-o'>&nbsp;</i>" }} </div>
                                    <div class="col-sm-10 col-lg-9">
                                        do Rejestru
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-2 col-lg-3">{{ form.vars.value.typWnioskuZmianaInformacji ? "<i class='fa fa-check-square'>&nbsp;</i>" : "<i class='fa fa-square-o'>&nbsp;</i>" }} </div>
                                    <div class="col-sm-10 col-lg-9">
                                        informacji o zarejestrowanym zasobie
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-2 col-lg-3">{{ form.vars.value.typWnioskuWycofanie ? "<i class='fa fa-check-square'>&nbsp;</i>" : "<i class='fa fa-square-o'>&nbsp;</i>" }} </div>
                                    <div class="col-sm-10 col-lg-9">
                                        z Rejestru
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-2 col-lg-3">{{ form.vars.value.typWnioskuDoUruchomienia ? "<i class='fa fa-check-square'>&nbsp;</i>" : "<i class='fa fa-square-o'>&nbsp;</i>" }} </div>
                                    <div class="col-sm-10 col-lg-9">
                                        do utworzenia (uruchomienia) w infrastrukturze PARP
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-2 col-lg-3">{{ form.vars.value.typWnioskuZmianaWistniejacym ? "<i class='fa fa-check-square'>&nbsp;</i>" : "<i class='fa fa-square-o'>&nbsp;</i>" }} </div>
                                    <div class="col-sm-10 col-lg-9">
                                        w istniejącym zasobie
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-2 col-lg-3">{{ form.vars.value.typWnioskuWycofanieZinfrastruktury ? "<i class='fa fa-check-square'>&nbsp;</i>" : "<i class='fa fa-square-o'>&nbsp;</i>" }} </div>
                                    <div class="col-sm-10 col-lg-9">
                                        z infrastruktury PARP
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    {{ form_row(form.wniosekDomenowy) }}
                    {{ form_widget(form.wniosek) }}
                    {{ form_row(form.imienazwisko) }}
                    {{ form_row(form.login) }}
                    {{ form_row(form.departament) }}
                    {{ form_row(form.stanowisko) }}
                    {{ form_row(form.telefon) }}
                    {{ form_row(form.nrpokoju) }}
                    {{ form_row(form.email) }}
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-3 control-label">Osoby które widzą wniosek</label >
                        <div class="col-sm-10 col-lg-9">{{ entity.wniosek.viewernames|replace({',': ', '}) }}</div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-lg-3 control-label">Osoby które mogą edytować wniosek</label>
                        <div class="col-sm-10 col-lg-9">{{ entity.wniosek.editornames|replace({',': ', '}) }}</div>
                    </div>
                    {% if not readonly %}
                    <div class="form-group">
                        <label class="col-sm-2 col-lg-3 control-label"></label>
                        <div class="col-sm-10 col-lg-9 pull-right">{{ form_widget(form.dalej2, {'attr': {'onclick': 'submitFirstForm(event)' }}) }}  </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div id="zasob" class="tab-pane fade">
                <div class="tabContent">
                    {% if not readonly %}
                    <div class="form-group">
                        <label class="col-sm-10 col-lg-9 control-label"></label>
                        <div class="col-sm-2 col-lg-3 pull-right">{{ form_widget(form.submit2) }}  </div>
                    </div>
                    {% endif %}
                    {% if(entity.typ == "zmiana") %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Wybierz zasób do zmiany</label>
                            <div class="col-sm-10">{{ form_widget(form.zmienianyZasob) }}  </div>
                        </div>
                        {{ form_row(form.zmienionePola) }}
                    {% else %}

                        {{ form_row(form.zmienionePola, {'label': false, 'attr': {'class': 'hidden' }}) }}
                    {% endif %}

                    {% if(entity.typ == "kasowanie") %}
                        {{ form_row(form.zmienianyZasob) }}
                    {% else %}
                        {% if form.zasob is defined %}
                        {{ form_widget(form.zasob) }}
                        {% endif %}
                    {% endif %}


                    {% if not readonly %}
                    <div class="form-group">
                        <label class="col-sm-10 col-lg-9 control-label"></label>
                        <div class="col-sm-2 col-lg-3 pull-right">{{ form_widget(form.submit) }}  </div>
                    </div>
                    {% endif %}
                    {# {{ form_rest(form) }}   #}
                </div>
            </div>
          {#  {{ form_end(form) }}   #}
          <div style="display:none;">
            {{ form_rest(form) }}
          </div>
     </form>
            <div id="pliki" class="tab-pane fade">
                <div  class="tabContent">
                    {% if(entity.id > 0) %}
                    {{ render(controller('ParpMainBundle:Plik:index', {obiekt: 'WniosekUtworzenieZasobu', obiektId: entity.id})) }}
                    {% else %}

                    Ta zakładka będzie dostępna po zapisaniu wniosku
                    {% endif %}
                </div>
            </div>
            <div id="komentarze" class="tab-pane fade">
                <div  class="tabContent">
                    {% if(entity.id > 0) %}
                    {{ render(controller('ParpMainBundle:Komentarz:index', {obiekt: 'WniosekUtworzenieZasobu', obiektId: entity.id})) }}
                    {% else %}

                    Ta zakładka będzie dostępna po zapisaniu wniosku
                    {% endif %}
                </div>
            </div>
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {% if(form.vars.value.id > 0) %}
                    {{ render(controller('ParpMainBundle:Version:versions', {repository: 'WniosekUtworzenieZasobu', id: form.vars.value.id})) }}
                    {% else %}

                    Ta zakładka będzie dostępna po zapisaniu wniosku
                    {% endif %}
                </div>
            </div>
            <div id="historiaAkceptacji" class="tab-pane fade">
                <div  class="tabContent">
                    {% if(entity.id > 0) %}
                    {% include 'ParpMainBundle:WniosekNadanieOdebranieZasobow:historiaAkceptacji.html.twig' %}
                    {% else %}

                    Ta zakładka będzie dostępna po zapisaniu wniosku
                    {% endif %}
                </div>
            </div>
        </div>
      {#      {{ form_row(form._token) }}#}
    </div>




<div class="btn-group">

<a class="btn btn-primary" href="{{ path('wniosekutworzeniezasobu') }}">
    <i class="fa fa-list"></i> Lista Wniosków
</a>
</div>

<script type="text/javascript"src="{{ asset('js/wnioskiZasob.js') }}"></script>
<script type="text/javascript"src="{{ asset('js/custom-required-validation.js') }}"></script>

<script>
    if ($('#parp_mainbundle_wniosekutworzeniezasobu_zmienianyZasob').hasClass('select2')) {
        $('#parp_mainbundle_wniosekutworzeniezasobu_zmienianyZasob').select2().on('change', function () {
            var val = $(this).val();
            console.log(val);
            var href = Routing.generate('wniosekutworzeniezasobu_wczytaj_dane_zasobu', {'id': val});
            console.log(href);
            $.get(href, function (data) {
                for (k in data) {
                    var v = data[k];
                    var sel = "#parp_mainbundle_wniosekutworzeniezasobu_zasob_" + k;
                    if ($(sel).is('input[type="checkbox"]')) {
                        if (data[k] == true) {
                            $(sel).prop('checked', true);
                        } else {
                            $(sel).prop('checked', false);
                        }
                    }

                    if ($(sel).hasClass('tagit-hidden-field')) {
                        $(sel).tagit('removeAll');
                        if (v) {
                            var vs = v.split(";");
                            for (var i = 0; i < vs.length; i++) {
                                $(sel).tagit('createTag', vs[i]);
                            }
                        }
                    } else {
                        if ($(sel).hasClass('select2')) {
                            $(sel).val(v.split(","));
                            $(sel).select2().trigger('change');
                            //$(sel).select2("data", v, true);
                            //$(sel).select2("updateResults");
                        } else {
                            $(sel).val(v);

                        }
                    }
                }
            });
        })
    }
    if ($('#parp_mainbundle_wniosekutworzeniezasobu_zasob').hasClass('select2')) {
        $('#parp_mainbundle_wniosekutworzeniezasobu_zasob').select2().on('change', function () {
            $('#parp_mainbundle_wniosekutworzeniezasobu_zasob_nazwa').val('kasowanie zasobow');
        });
    }
    var z = $('#parp_mainbundle_wniosekutworzeniezasobu_zmienionePola').val();
    var zs = z.split(';');
    for (var i = 0; i < zs.length; i++) {
        var sel = '#parp_mainbundle_wniosekutworzeniezasobu_zasob_' + zs[i];
        console.log(sel);
        $(sel).closest('.form-group').addClass('has-error');
    }
</script>

{% endblock %}
