{% extends '::base.html.twig' %}

{% form_theme edit_form _self %}
{% block _parp_mainbundle_zadanie_dataUkonczenia_widget %}sss
<div class="input-group datepicker" >
    {{ block('form_widget_simple') }}
    <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
    </span>
</div>
{% endblock %}

{% block body -%}
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <h1>Edycja Zadanie </h1>
                <div class="tabContent">
                    <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('zadanie') }}">
                        <i class="fa fa-list"></i> Lista Zadanie
                    </a>
                    </div>
                    <div class="well">
                        {{ edit_form.vars.value.opis|raw }}
                    </div>
                    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form(edit_form) }}
                </div>
            </div>
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Version:versions', {repository: 'Zadanie', id: edit_form.vars.value.id})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
