{% form_theme form action == 'removeResources' ? 'ParpMainBundle:NadawanieUprawnienZasobow:formStyle.html.twig' : 'bootstrap_3_horizontal_layout.html.twig' %}
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            Użytkownicy ({{ users|length }})
            </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                {% if users|length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Lp.</th>
                            <th>Użytkownik</th>
                            <th>Login</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    {% set n = 1 %}
                    <tbody>
                        {% for row in users %}
                            <tr>
                                <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname}) }}" class="rowNumber">{{ n }}</a></td>
                                <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname}) }}">{{ row.name }}</a></td>
                                <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname}) }}">{{ row.samaccountname }}</a></td>
                                <td>
                                    <a class="btn btn-danger" href="#" onclick="usunUzytkownikaZwniosku('{{ row.samaccountname }}', this)">Usuń</a>
                                </td>
                            </tr>
                            {% set n = n + 1 %}
                        {% endfor %}
                    </tbody>

                </table>
                {% else %}

                <p>Nie wybrano użytkowników</p>

                {% endif %}

            </div>
        </div>
    </div>

</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            {{ title }}
            </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
                {% if choicesDescription|length == 0 %}
                <div class="alert alert-danger">
                    Nie ma żadnych zasobów które możnaby odebrać
                </div>
                {% endif %}
                 {{ form_start(form) }}
                 {{ form_row(form.zapisz2, {'attr': {'onclick': 'beforeSubmit(event)' }}) }}
                 {{ form_rest(form) }}
                 {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script>
    function filtrujZasobUprawnienia() {
        var v = $('#form_grupy').val();
        var s = $('#form_nazwafiltr').val().toUpperCase().trim();

        if (v || s) {
            $('#form_access > div').addClass('hidden');
            //console.log('.uprawnienieRow.grupaUprawnien'+v+' '+s);
            if (s) {
                $('#form_access > div').each(function () {
                    var txt = $(this).text().toUpperCase();
                    var classes = $(this).attr('class');
                    console.log('sprawdzam txt ' + txt + ' i classes ' + classes);
                    var show = false;
                    if (v) {
                        show = txt.indexOf(s) >= 0 && classes.indexOf('grupaUprawnien' + v) >= 0;
                    } else {
                        show = txt.indexOf(s) >= 0;
                    }
                    if (show) {
                        $(this).removeClass('hidden');
                    }
                });
            } else {
                //pokazujemy szukane grupy
                $('.uprawnienieRow.grupaUprawnien' + v + '').closest('.checkbox').removeClass('hidden');
            }
            //pokazujemy zaznaczone
            $('.uprawnienieRow input:checked').closest('.checkbox').removeClass('hidden');
        } else {
            $('.uprawnienieRow').removeClass('hidden');
        }
    }
    $('#form_grupy').change(function () {
        filtrujZasobUprawnienia();
    });
    $('#form_nazwafiltr').bind('input', function () {
        filtrujZasobUprawnienia();
    });
    $('#form_buttonzaznacz').click(function () {
        $('.uprawnienieRow:not(.hidden) input[type=checkbox]').prop('checked', true);
        zmianaZaznaczenia();
    });
    $('#form_buttonodznacz').click(function () {
        $('.uprawnienieRow input[type=checkbox]:checked').prop('checked', false);
        zmianaZaznaczenia();
    });
    function beforeSubmit(e) {
        if ($("input[name='form[access][]']").serialize() == "") {
            event.preventDefault();
            alert('Musisz wybrać co najmniej jeden zasób');
            return false;
        }
    }
    function zmianaZaznaczenia() {
        var ret = [];
        $('#form_access input[type=checkbox]:checked').each(function () {
            var v = $('label', $(this).closest('.checkbox')).text();
            v = v.trim();
            ret.push(v);
        });
        console.log('zmieniam zaznaczenie');
        $('#form_wybraneZasoby').val(ret.join(', '));
    }
    $('#form_access input[type=checkbox]').click(zmianaZaznaczenia);
</script>
{% if(zasobyId != '') %}
<script>
{% set ids = zasobyId|split(",") %}


{% for id in ids %}
    $('input[name="form[access][]"][value={{ id }}]').prop('checked', true);
{% endfor %}

{% if(ids|length == 1) %}
    $('#form_nazwafiltr').val($('input[name="form[access][]"][value={{ ids[0] }}]').closest('label').text().trim());
    $('#form_nazwafiltr').trigger('input');
{% else %}
    $('#form_nazwafiltr').val('Zaznaczono wybrane zasoby');
    $('#form_nazwafiltr').trigger('input');
{% endif %}
</script>
{% endif %}
<script type="text/javascript" src="{{ asset('js/wnioskiZasoby.js') }}"></script>
