
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Użytkownicy ({{ users|length }})
                </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if users|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Lp.</th>
                                <th>Użytkownik</th>
                                <th>Login</th>
                                <th>Akcja</th>
                            </tr>
                        </thead>
                        {% set n = 1 %}
                        <tbody>
                            {% for row in users %}
                                <tr>
                                    <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname}) }}" class="rowNumber">{{ n }}</a></td>
                                    <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname}) }}">{{ row.name }}</a>
                                    {% if row.samaccountname|podajKoniecUmowy %}
                                        <div class="alert alert-danger" role="alert">
                                            <span class="fas fa-exclamation-circle" aria-hidden="true"></span> Umowa do: {{ row.samaccountname|podajKoniecUmowy|date("Y-m-d") }}
                                        </div>
                                    {% endif %}
                                    </td>
                                    <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname}) }}">{{ row.samaccountname }}</a></td>
                                    <td>

                                        <a class="btn btn-danger" href="#" onclick="usunUzytkownikaZwniosku('{{ row.samaccountname }}', this)">Usuń</a>
                                    </td>
                                </tr>
                                {% set n = n + 1 %}
                            {% endfor %}
                        </tbody>

                    </table>
                    {% else %}

                    <p>Nie wybrano użytkowników</p>

                    {% endif %}

                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                {{ action == "addResources" ? "Dodawanie" : "Edycja" }} uprawnień do zasobów
                </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                {% if users|length > 1 %}
                <div class="alert alert-info">
                wszystkim użytkownikom zostanie przypisany ten sam zestaw parametrów: Moduł, Poziom Dostępu etc., po zapisie będzie można edytować to pole per użytkownik
                </div>
                {% endif %}
                <div class="panel-body">
                {% set rodzaj_uprawnien = false %}
                {{ form_start(form) }}
                {{ form_widget(form.wniosekId) }}
                {{ form_widget(form.action) }}
                {{ form_widget(form.samaccountnames) }}
                {{ form_widget(form.fromWhen) }}
                {{ form_widget(form.powod) }}
{#                 {{ form_widget(form.userzasoby) }} #}
{#                  <h3>Nadajesz zasoby od {{ form.vars.value.fromWhen }} z powodu "{{ form.vars.value.powod }}"</h3>  #}
                {% if form.userzasoby is defined %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Moduł  <a href="#" onclick="event.preventDefault(); zaznaczOdznaczWszsytkoSelect2('modul'); " class=" "><i class="fas fa-check-square">&nbsp;</i></a>/ Poziom dostępu  <a href="#" onclick="event.preventDefault(); zaznaczOdznaczWszsytkoSelect2('poziomDostepu')" class=" "><i class="fas fa-check-square">&nbsp;</i></a></th>
                                <th>Aktywne od / Aktywne do / bezterminowo
                                <th>Kanał dostępu / Sumowanie uprawnień / Uprawnienia administracyjne</th>
                            </tr>
                        </thead>
                        {# {% set n = 1 %} #}
                        <tbody>
                            {% for userzasoby in form.userzasoby %}
                                <tr>
                                    <td>
                                        {{ form_widget(userzasoby.id) }}
                                        {{ userzasoby.vars.value.zasobNazwa }}
                                        {{ form_widget(userzasoby.zasobNazwa) }}
                                    </td>
                                    <td>
                                        <div>
                                        <label>Moduł <a href="#" onclick="event.preventDefault(); zaznaczOdznaczWszsytkoSelect2(this)" class=" pull-"><i class="fas fa-check-square">&nbsp;</i></a></label>
                                        {{ form_widget(userzasoby.samaccountname) }}
                                        {{ form_widget(userzasoby.zasobId) }}
                                        {{ form_widget(userzasoby.modul) }}
                                        </div>
                                        {% if userzasoby.rodzajUprawnien is defined %}
                                        {% set rodzaj_uprawnien = true %}
                                        <div>
                                            <label>Rodzaj uprawnień</label>
                                            {{ form_widget(userzasoby.rodzajUprawnien, {attr: {class: 'poziom-dostepu-switch'}}) }}
                                            <small>Wybierz aby odblokować `Poziom dostępu`</small>
                                        </div><br />
                                        {% endif %}
                                        <div>
                                        <label>Poziom dostępu  <a href="#" onclick="event.preventDefault(); zaznaczOdznaczWszsytkoSelect2(this)" class=" pull-"><i class="fas fa-check-square">&nbsp;</i></a></label>
                                        {{ form_widget(userzasoby.poziomDostepu) }}
                                        </div>
                                    </td>

                                    <td>
                                        {{ form_widget(userzasoby.aktywneOd) }}
                                        {{ form_widget(userzasoby.aktywneDo, {'attr': {'data-required': 'single'}}) }}
                                        {{ form_widget(userzasoby.bezterminowo, {'attr': {'data-required': 'single'}}) }}
                                    </td>

                                    <td>
                                        {{ form_widget(userzasoby.kanalDostepu) }}
                                        {{ form_widget(userzasoby.sumowanieUprawnien) }}
                                        {{ form_widget(userzasoby.uprawnieniaAdministracyjne) }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                {% endif %}
                {{ form_end(form) }}
{#                     {{ form(form) }} #}
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{{ asset('js/wnioskiZasoby.js') }}"></script>
<script>
$(document).ready(function () {
    zablokujOdblokujPoziom();
    $('.poziom-dostepu-switch').change(function () {
        $('.odblokujPoWyborze').val(null).trigger('change');
        zablokujOdblokujPoziom();
    })
})

function zablokujOdblokujPoziom()
{
    var rodzajUprawnienElement = $('.poziom-dostepu-switch');
    if (rodzajUprawnienElement.length) {
        if ($('.odblokujPoWyborze').hasClass('select2-hidden-accessible')) {
            $('.odblokujPoWyborze').select2('destroy');
        }
        $('.odblokujPoWyborze').attr('disabled', true);
        var elementValue = rodzajUprawnienElement.val();
        if (elementValue === "0" || elementValue === "1") {
            $('.odblokujPoWyborze').attr('disabled', false);
            var wyswietlacGrupy = elementValue === "0"? true : false;
            if (wyswietlacGrupy) {
                $('.poziom-grupa').removeAttr('disabled');
                $('.poziom-niegrupa').attr('disabled', true);
            } else {
                $('.poziom-grupa').attr('disabled', true);
                $('.poziom-niegrupa').removeAttr('disabled');
            }

            $('.odblokujPoWyborze').select2({dropdownAutoWidth : true, width: '100%'});
        }
    }
}


    function zaznaczOdznaczWszsytkoSelect2(dys) {
        {% if rodzaj_uprawnien %}
            alert('Funkcja niedostępna');
            var zaslepka = {{ rodzaj_uprawnien }}1;
            return false;
        {% endif %}
        if (typeof dys == 'string') {
            $('select.' + dys).each(function () {
                zaznaczSelect2(this);
            });
        } else {
            //mamy jeden rzad
            $('select', $(dys).closest('div')).each(function () {
                zaznaczSelect2(this);
            });
        }
    }
    function zaznaczSelect2(dys) {

        {% if rodzaj_uprawnien %}
            alert('Funkcja niedostępna');
            var zaslepka = {{ rodzaj_uprawnien }}1;
            return false;
        {% endif %}
        var sel = $(dys).attr('data-selected') == 'true';
        $('option', $(dys)).prop('selected', !sel ? 'selected' : false);
        $(dys).trigger('change');
        $(dys).attr('data-selected', !sel);
    }
</script>
