{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_widget(form.save, { 'label': 'Click me' }) }}
    <button class="btn">{{ button_label|default('Zapisz') }}</button>
{{ form_end(form) }}
{# {{ form_end(form, {'render_rest': false}) }} #}
