{% extends '::base.html.twig' %}

{% block body %}
    <h1>Changelog - administracja</h1>

    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data Zmiany</th>
                {#  <th>DeletedAt</th> #}
                {# <th>Autor</th> #}
                <th>Wersja</th>
                <th>Tytul</th>
                <th>Opis</th>
                <th>Opublikowany</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for changelog in changelogs %}
            <tr{{ changelog.opublikowany ? ' class="success"' : '' }}>
                <td>{{ changelog.id }}</td>
                <td>{{ changelog.dataWprowadzeniaZmiany ? changelog.dataWprowadzeniaZmiany|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ changelog.deletedAt ? changelog.deletedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>{{ changelog.samaccountname }}</td> #}
                <td>{{ changelog.wersja }}</td>
                <td>{{ changelog.dodatkowyTytul }}</td>
                <td>{{ changelog.opis }}</td>
                <td>{{ changelog.opublikowany ? '<i class="fas fa-check"></i>' : '<i class="fas fa-times"></i>' }}</td>
                <td>
                    <a href="{{ path('changelog_show', {'id': changelog.id}) }}" class="btn btn-success"><i class="far fa-eye"></i> Podgląd</a>
                    <a href="{{ path('changelog_edit', {'id': changelog.id}) }}" class="btn btn-danger"><i class="fas fa-edit"></i> Edycja</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Nie znaleziono wpisów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('changelog_new') }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Nowy wpis</a>
{% endblock %}
