{% extends '::base.html.twig' %}

{% block body %}
    <h1>Lista zmian</h1>
    <div class="panel-group" id="accordion">
    {% for changelog in changelogs %}
        <div class="panel panel-default" id="panel{{ loop.index }}">
            <div class="panel-heading"><a data-toggle="collapse" data-target="#collapse{{ loop.index }}" href="#collapse{{ loop.index }}">{{ changelog.dataWprowadzeniaZmiany ? changelog.dataWprowadzeniaZmiany|date('Y-m-d') ~ ' - ' : '' }}{{ changelog.wersja }}</a></div>
                <div id="collapse{{ loop.index }}" class="panel-collapse collapse{{ loop.first ? ' in' : '' }}">
                    <div class="panel-body">
                        {% if changelog.dodatkowyTytul %}
                        <h4>{{ changelog.dodatkowyTytul }}</h4><br />
                        {% endif %}
                        {% if changelog.czyMarkdown %}
                            {{ changelog.opis|extra_markdown }}
                        {% else %}
                            {{ changelog.opis|nl2br }}
                        {% endif %}
                    </div>
                </div>
        </div>
    {% else %}
        <p>Nie znaleziono wpisów</p>
    {% endfor %}
    </div>
{% endblock %}
