{% extends '::base.html.twig' %}

{% block body %}
    <h1>Changelog - szczegóły wpisu</h1>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th class="col-md-3">Id</th>
                <td>{{ changelog.id }}</td>
            </tr>
            <tr>
                <th>Data zmiany</th>
                <td>{{ changelog.dataWprowadzeniaZmiany ? changelog.dataWprowadzeniaZmiany|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ changelog.samaccountname }}</td>
            </tr>
            <tr>
                <th>Wersja</th>
                <td>{{ changelog.wersja }}</td>
            </tr>
            <tr>
                <th>Dodatkowy tytul</th>
                <td>{{ changelog.dodatkowyTytul }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>
                    {% if changelog.czyMarkdown %}
                        {{ changelog.opis|extra_markdown }}
                    {% else %}
                        {{ changelog.opis|nl2br }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Czy opis sformatowany w Markdown? </th>
                <td>{{ changelog.czyMarkdown ? 'Tak' : 'Nie' }}</td>
            </tr>
            <tr>
                <th>Opublikowany</th>
                <td>{{ changelog.opublikowany ? 'Tak' : 'Nie' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('changelog_edit', {'id': changelog.id}) }}" class="btn btn-danger"><i class="fas fa-edit"></i> Edycja</a>
    <a href="{{ path('changelog_admin_index') }}" class="btn btn-primary"><i class="fas fa-list-alt"></i> Powrót do listy</a>
    {{ include('ParpMainBundle:Changelog:_delete_form.html.twig') }}
{% endblock %}
