{% extends '::base.html.twig' %}

{% block body %}
    <h1>Changelog - szczegóły wpisu</h1>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ changelog.id }}</td>
                    </tr>
                    <tr>
                        <th>Data zmiany</th>
                        <td>{{ changelog.dataWprowadzeniaZmiany ? changelog.dataWprowadzeniaZmiany|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Autor</th>
                        <td>{{ changelog.samaccountname }}</td>
                    </tr>
                    <tr>
                        <th>Wersja</th>
                        <td>{{ changelog.wersja }}</td>
                    </tr>
                    <tr>
                        <th>Dodatkowy tytul</th>
                        <td>{{ changelog.dodatkowyTytul }}</td>
                    </tr>
                    <tr>
                        <th>Czy opis sformatowany w Markdown? </th>
                        <td>{{ changelog.czyMarkdown ? 'Tak' : 'Nie' }}</td>
                    </tr>
                    <tr>
                        <th>Opublikowany</th>
                        <td>{{ changelog.opublikowany ? 'Tak' : 'Nie' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p><b>Podgląd opisu:</b></p>
        <p>
        {% if changelog.czyMarkdown %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ changelog.dataWprowadzeniaZmiany ? changelog.dataWprowadzeniaZmiany|date('Y-m-d') ~ ' - ' : '' }}{{ changelog.wersja }}</div>
                    <div class="panel-body">
                        {% if changelog.dodatkowyTytul %}
                        <h4>{{ changelog.dodatkowyTytul }}</h4><br />
                        {% endif %}
                        {{ changelog.opis|extra_markdown }}
                    </div>
            </div>
        {% else %}
            {{ changelog.opis|nl2br }}
        {% endif %}
    </p>
    <hr>
    <a href="{{ path('changelog_edit', {'id': changelog.id}) }}" class="btn btn-danger"><i class="fas fa-edit"></i> Edycja</a>
    <a href="{{ path('changelog_admin_index') }}" class="btn btn-primary"><i class="fas fa-list-alt"></i> Powrót do listy</a>
    {{ include('ParpMainBundle:Changelog:_delete_form.html.twig') }}
{% endblock %}
