<ul>
    {% for key, user_changes in change_log %}
        <li>
            <ol>
            <b>
            {% if key %}
                    {{ key }}
                {% else %}
                    Utworzono nowego użytkownika
            {% endif %}
            </b>
                {% for change in user_changes %}
                    {# change.vars zawiera tablicę z danymi użytkownika z AD #}
                    <li class="alert-{{ change.getType() }}">
                        {{ change.message }} - <b>{{ change.target|trans({}, 'changed_attribute') }}</b>
                        {# Wyświetlenie wiadomości powiązanych - Class: Message#children #}
                        {% if change.children is not empty %}
                            <ul>
                                {% for child_change in change.children %}
                                    <li>
                                        {{ child_change.message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
</ul>
