 <div class="tabContent">
    {% if user_changes.aktywne is defined%}
        <table class="table table-hover table-responsive" id="historiaTable">
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Imię i nazwisko</th>
                    <th>Departament</th>
                    <th>Przełożony</th>
                    <th>Stanowisko</th>
                    <th>Sekcja</th>
                    <th>Uprawnienia początkowe</th>
                    <th>Od kiedy</th>
                </tr>
            </thead>
            <tbody>
                {% for row in user_changes.aktywne %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row.cn }}</td>
                        <td>{{ row.department }}</td>
                        <td>{{ row.manager|parseAdString('CN') }}</td>
                        <td>{{ row.title }}</td>
                        <td>{{ row.info }}</td>
                        <td>
                            {% if row.odebranieZasobowEntry is not null %}
                                <i>Tak ({{ row.odebranieZasobowEntry.powodOdebrania }})</i>
                                {% else %}
                                    <i>Nie</i>
                            {% endif %}
                        </td>
                        <td>{{ row.fromWhen|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Użytkownik nie posiada żadnych oczejących zmian.</p>
    {% endif %}
</div>
