{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuwanie: Komentarz</h1>
    <div class="alert alert-danger">
        Czy na pewno chcesz skasować poniższy Komentarz ?
    </div>
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Samaccountname</th>
                <td>{{ entity.samaccountname }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tytul</th>
                <td>{{ entity.tytul }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ entity.opis }}</td>
            </tr>
            <tr>
                <th>Obiekt</th>
                <td>{{ entity.obiekt }}</td>
            </tr>
            <tr>
                <th>Obiektid</th>
                <td>{{ entity.obiektId }}</td>
            </tr>
        </tbody>
    </table>

        <div class="btn-group">

    {{ form(delete_form) }}
</div>
{% endblock %}
