{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#zasoby">Zasoby</a></li>
            <li><a data-toggle="tab" href="#pliki">Pliki</a></li>
            <li><a data-toggle="tab" href="#komentarze">Komentarze</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
            <li><a data-toggle="tab" href="#historiaAkceptacji">Historia akceptacji</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <h1> {{ entity.id ? "Edycja" : "Tworzenie" }} wniosku o {{ entity.odebranie ? "odebranie" : "nadanie" }} uprawnień do zasobów </h1>
                <div class="tabContent">

                    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form(form) }}
                </div>
            </div>
            <div id="zasoby" class="tab-pane fade">
                <table class="record_properties table table-striped" id="table1">
                    <tbody>
                        <tr>
                            <th>Osoba</th>
                            <th>Nazwa</th>
                            <th>Moduł</th>
                            <th>Poziom dostępu</th>
                            <th>Sumowanie uprawnień</th>
                            <th>Aktywne od</th>
                            <th>Bezterminowo</th>
                            <th>Aktywne do</th>
                            <th>Kanał dostępu</th>
                            <th>Uprawnienia administracyjne</th>
                            <th>Odstepstwo od procedury</th>
{#                             <th>Akcje</th>  #}
                        </tr>
                        {% for z in userzasoby %}
                            <tr>
                                <td>{{ z.zasobNazwa }}</td>
                                <td>{{ z.samaccountname }}</td>
                                <td>{{ z.modul }}</td>
                                <td>{{ z.poziomDostepu }}</td>
                                <td>{{ z.sumowanieUprawnien }}</td>
                                <td>{{ z.aktywneOd|date }}</td>
                                <td>{{ z.bezterminowo }}</td>
                                <td>{{ z.aktywneDo|date }}</td>
                                <td>{{ z.kanalDostepu }}</td>
                                <td>{{ z.uprawnieniaAdministracyjne }}</td>
                                <td>{{ z.odstepstwoOdProcedury }}</td>
{#                                 <td><a href="" class="btn btn-danger">Kasuj</a></td> #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="pliki" class="tab-pane fade">
                <div  class="tabContent">
                    {% if form.vars.value.id > 0 %}
                    {{ render(controller('ParpMainBundle:Plik:index', {obiekt: 'WniosekNadanieOdebranieZasobow', obiektId: form.vars.value.id})) }}
                    {% else %}
                    Ta zakładka będzie dostępna po zapisaniu wniosku
                    {% endif %}
                </div>
            </div>
            <div id="komentarze" class="tab-pane fade">
                <div  class="tabContent">
                    {% if form.vars.value.id > 0 %}
                    {{ render(controller('ParpMainBundle:Komentarz:index', {obiekt: 'WniosekNadanieOdebranieZasobow', obiektId: form.vars.value.id})) }}
                    {% else %}
                    Ta zakładka będzie dostępna po zapisaniu wniosku
                    {% endif %}
                </div>
            </div>
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {% if form.vars.value.id > 0 %}
                    {{ render(controller('ParpMainBundle:Version:versionsHistory', {repository: 'WniosekNadanieOdebranieZasobow', id: form.vars.value.id})) }}
                    {% else %}
                    Ta zakładka będzie dostępna po zapisaniu wniosku
                    {% endif %}
                </div>
            </div>
            <div id="historiaAkceptacji" class="tab-pane fade">
                <div  class="tabContent">
                    {% include 'ParpMainBundle:WniosekNadanieOdebranieZasobow:historiaAkceptacji.html.twig' %}
                </div>
            </div>
        </div>
        <div class="btn-group">
            {% if form.vars.value.id > 0 %}
            <a class="btn btn-success" href="{{ path('wnioseknadanieodebraniezasobow_show', {id: entity.id}) }}">
                <i class="fa fa-list"></i> Pokaż wniosek
            </a>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('wnioseknadanieodebraniezasobow') }}">
                <i class="fa fa-list"></i>  Wróć do listy Wniosków o nadanie uprawnień do zasobów
            </a>
        </div>
    </div>
    <!-- outsideEmployeesModalForm -->
    <div class="container-fluid">
        <div class="modal-form-bg row hidden" id="add-outside-employee-layer">
            <form class="modal-form col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3"
                role="form">
                <div class="single-employee">
                    <div class="form-group">
                        <label for="outside-employee-name">Imię pracownika spoza PARP
                            <input type="text" class="form-control outside-employee-name" placeholder="Wpisz imię pracownika spoza PARP"
                                minlength="3" maxlength="16" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="outside-employee-surname">Nazwisko pracownika spoza PARP
                            <input type="text" class="form-control outside-employee-surname" placeholder="Wpisz nazwisko pracownika spoza PARP"
                                minlength="2" maxlength="32" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="outside-employee-email">Email pracownika spoza PARP
                            <input type="email" class="form-control outside-employee-email" placeholder="Podaj adres email pracownika spoza PARP"
                                minlength="6" maxlength="64" />
                        </label>
                    </div>
                </div>
                <div class="status-board">

                </div>
                <button id="add-another-outside-employee" type="button" class="btn btn-default">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Dodaj kolejnego pracownika
                </button>
                <button id="submit-outside-employee" type="button" class="btn btn-success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Zatwierdź
                </button>
                <button id="submit-outside-employee" type="button" class="btn btn-primary cancel-btn">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Anuluj
                </button>
            </form>
        </div>
    </div>

<script type="text/javascript"src="{{ asset('js/wnioskiZasoby.js') }}"></script>
<script type="text/javascript"src="{{ asset('js/pracownicySpozaParpModalForm.js') }}"></script>
{% endblock %}