{% extends '::base.html.twig' %}

{% block body %}

<div class="col-sm-12">

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Uwaga!</strong>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Lista wniosków o nadanie/odebranie uprawnień do zasobów</h1>

        <div class="row">
            <div class="btn-group col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <a class="btn btn-success btn col-md-6" href="{{ path('wnioseknadanieodebraniezasobow_new') }}"><i class="fas fa-plus"></i> Dodaj wniosek o nadanie uprawnień</a>
                <a class="btn btn-danger btn col-md-6" href="{{ path('wnioseknadanieodebraniezasobow_new', {odebranie: 1}) }}"><i class="fas fa-minus"></i> Dodaj wniosek o odebranie uprawnień</a>
            </div>
        </div>
    {% if(zastepstwa|length > 0) %}
        {{ include('ParpMainBundle:Zastepstwo:_zastepstwa_za_box.html.twig') }}
    {% endif %}
    {% if(zastepuja_mnie|length > 0) %}
        {{ include('ParpMainBundle:Zastepstwo:_zastepuja_mnie_box.html.twig') }}
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="{{ ktore == "oczekujace" ? 'active' : '' }}"><a  href="{{ path('wnioseknadanieodebraniezasobow', {'ktore': 'oczekujace'}) }}">Oczekujące na realizację</a></li>
        <li class="{{ ktore == "wtoku" ? 'active' : '' }}"><a  href="{{ path('wnioseknadanieodebraniezasobow', {'ktore': 'wtoku'}) }}">W toku</a></li>
        <li class="{{ ktore == "zakonczone" ? 'active' : '' }}"><a  href="{{ path('wnioseknadanieodebraniezasobow', {'ktore': 'zakonczone'}) }}">Zakończone</a></li>
        {% if app.user.hasRole('PARP_ADMIN') or app.user.hasRole('PARP_IBI_EBSI') %}
            <li class="{{ ktore == "wszystkie" ? 'active' : '' }}"><a  href="{{ path('wnioseknadanieodebraniezasobow', {'ktore': 'wszystkie'}) }}">Wyszukiwarka wniosków</a></li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div id="oczekujace" class="tab-pane fade in active">
            {% if ajax_grid %}
                 {% if ktore == 'wszystkie' %}
                    <br />
                    <div class="alert alert-info">
                        Aby skorzystać z wyszukiwarki uzupełnij jeden lub więcej filtrów i zatwierdź przyciskiem 'Szukaj' lub klawiszem Enter.
                    </div>
                {% endif %}
                {{ grid(grid,'ParpMainBundle:Grid:grid_jquery_filters.html.twig') }}
            {% else %}
                {{ grid(grid,'ParpMainBundle:Default:index_grid.html.twig') }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
