{% extends '::base.html.twig' %}

{% block body -%}
    {% set status_ostatecznie_zablokowany = entity.wniosek.isBlocked %}
    {% set wniosek_odebranie = entity.odebranie %}
    <div class="col-sm-12">
        <div class="alert alert-info">
            <h3>Wniosek o {{ entity.odebranie ? "odebranie" : "nadanie" }} zasobów numer : {{ entity.wniosek.numer }}</h3>
            <ul>
                <li><b>Pracownicy :</b> {{ entity.pracownicy|addSpaces }}</li>
                {% if '_' in entity.pracownicy|addSpaces %}
                    <li>
                        <div class="alert alert-danger">
                            <b>UWAGA! Wniosek dotyczy pracowników z niekatywnymi kontami!</b>
                        </div>
                    </li>
                {% endif %}
                {% if entity.pracownikSpozaParp %}
                <li>
                    <div class="alert alert-danger">
                        <b>Czy pracownik/pracownicy spoza PARP</b>
                        <b>{{ entity.pracownikSpozaParp ? "TAK" : "NIE" }}</b>
                    </div>
                </li>
                {% endif %}
                <li><b>Zasoby: </b>
                {% set i = 0 %}
                {% set przetworzone_zasoby = {} %}
                {% for z in entity.userZasoby %}
                    {% set i = i + 1 %}
                    {% if z.zasobId not in przetworzone_zasoby %}
                        {% set przetworzone_zasoby = przetworzone_zasoby|merge([z.zasobId]) %}
                        <a class="button-white-round" href="{{ path('zasoby_edit', {'id': z.zasobId, 'readOnly': 1}) }}">{{ z.zasobId|zasobNazwa }}</a>
{#                         {% if i != entity.userZasoby|length %},{% endif %} #}
                    {% endif %}
                {% endfor %}
                </li>
                <li><b>Cel {% if wniosek_odebranie %}odebrania{% else %}nadania{% endif %}: </b>
                {% set przetworzone_powody = {} %}
                <ul>
                {% for z in entity.userZasoby %}
                    {% set powod_wniosku = (wniosek_odebranie ? z.powodOdebrania : z.powodNadania) %}
                    {% if powod_wniosku not in przetworzone_powody %}
                        {% set przetworzone_powody = przetworzone_powody|merge([powod_wniosku]) %}
                        <li>{{ powod_wniosku }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                </li>
                <li><b>Statusy:</b></li>
            </ul>
            <div class="well well-sm statusyWniosku">
                {% set byl_juz_pierwszy_parent = false %}
                {% set numer_iteracji = 0 %}
                <ul class="list-inline">
                    {% for ss in entity.wniosek.statusy %}
                        {% if(ss.status.nazwaSystemowa == "10_PODZIELONY" and numer_iteracji != entity.wniosek.statusy|length - 1) %}
                        {% set wniosek_do_linku = ((byl_juz_pierwszy_parent ? entity.wniosek.parent : (entity.wniosek.parent.parent ? entity.wniosek.parent.parent : entity.wniosek.parent))) %}
                        {% endif %}
                        <li class="red-tooltip list-group-item btn-{{ ss.status.finished ? (ss.status.nazwaSystemowa == "07_ROZPATRZONY_POZYTYWNIE" ? "success" : "danger") : "default" }}"
                        data-toggle="popover" title="Data przekazania: {{ ss.createdAt|date("Y-m-d H:i:s") }}" data-content="Przekazany przez: {{ ss.createdBy|showFullname }} {% if(ss.status.nazwaSystemowa == "10_PODZIELONY" and numer_iteracji != entity.wniosek.statusy|length - 1) %}Podzielony wniosek nr {{ wniosek_do_linku.numer }} {% endif %}<hr/><b>Opis:</b><br/> {{ ss.opis }}"
                        >
                            {% if(ss.status.nazwaSystemowa == "10_PODZIELONY" and numer_iteracji != entity.wniosek.statusy|length - 1) %}

                            <a href="{{ path('wnioseknadanieodebraniezasobow_show', {id: wniosek_do_linku.wniosekNadanieOdebranieZasobow.id}) }}" class="whiteLink">
                            {# {% set byl_juz_pierwszy_parent = true %} #}
                            {% endif %}
                            <i class="fas fa-asterisk" >&nbsp;</i>{{ ss.statusName }} <i class="fas fa-{{ ss.status.finished ? (ss.status.nazwaSystemowa == "07_ROZPATRZONY_POZYTYWNIE" ? "check-circle" : (ss.status.nazwaSystemowa == "10_PODZIELONY" ? "fas fa-random" : "times-circle")) : "arrow-right" }}">&nbsp;</i>

                            {% if(ss.status.nazwaSystemowa == "10_PODZIELONY" and numer_iteracji != entity.wniosek.statusy|length - 1) %}

                            </a>
                            {% endif %}
                            {% set numer_iteracji = numer_iteracji + 1 %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if (entity.wniosek.lockedBy != "" and entity.wniosek.lockedBy != app.user.username) %}
                <div class="alert alert-warning">
                    Wniosek Edytowany (zablokowany) przez: {{ entity.wniosek.lockedBy|showFullname }}<br>
                    Edytowany (zablokowany) dnia: {{ entity.wniosek.lockedAt|date('Y-m-d H:i:s') }}
                </div>
                {% if czyZastepstwo or 'PARP_ADMIN_REJESTRU_ZASOBOW' in app.user.roles %}
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'unblock'}) }}" class="btn btn-primary">Odblokuj wniosek <i class="fas fa-check">&nbsp;</i> </a>
                {% endif %}
            {% endif %}
            <div class="btn-group container">
                {% if app.user.username in administratorzy_techniczni and not status_ostatecznie_zablokowany and entity.wniosek.status.nazwaSystemowa == '07_ROZPATRZONY_POZYTYWNIE' %}
                    <h4>Akcje:</h4>
                    <a href="{{ path('opublikuj_zmiany_ldap_wniosek', {application: entity.wniosek.id}) }}" class="btn btn-danger">Opublikuj do AD<i class="fas fa-check-circle">&nbsp;</i> </a>
                    {% set opublikuj_rendered = true %}
                {% endif %}
                {% if editor and not status_ostatecznie_zablokowany %}
                    {% if entity.userZasoby|length > 0 %}
                        {% if opublikuj_rendered is not defined %}<h4>Akcje:</h4>{% endif %}
                        {% if entity.wniosek.status.nazwaSystemowa == "07_ROZPATRZONY_POZYTYWNIE" and opublikuj_rendered is not defined %}
                            {#jesli tu jestesmy znaczy ze jest ediutorem i jest pozytywnie wiec musi byc opublikowany do AD #}
                            <a href="{{ path('opublikuj_zmiany_ldap_wniosek', {application: entity.wniosek.id}) }}" class="btn btn-danger">Opublikuj do AD<i class="fas fa-check-circle">&nbsp;</i> </a>
                        {% else %}
                            <a data-toggle="collapse" data-target="#rejectDiv" onclick="$('#subFormOdrzucenie').attr('action', '{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'reject'}) }}');"
                            class="btn btn-danger">Odrzuć wniosek <i class="fas fa-times-circle">&nbsp;</i> </a>
                            {% if canReturn %}
                            <a  data-toggle="collapse" data-target="#rejectDiv"  onclick="$('#subFormOdrzucenie').attr('action', '{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'return'}) }}');"
                            class="btn btn-info" title="">Zwrot do poprawy o jeden krok do tyłu <i class="fas fa-arrow-left">&nbsp;</i> </a>

                            {% endif %}
                            {% if(entity.wniosek.status.nazwaSystemowa == "05_EDYCJA_ADMINISTRATOR") %}
                                {% if potrzebna_data_odebrania %}
                                    <a data-toggle="collapse" data-target="#selectDate" class="btn btn-success">Wybierz datę odebrania i zaakceptuj <i class="fas fa-check-circle">&nbsp;</i> </a>
                                {% else %}
                                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'acceptAndPublish'}) }}" class="btn btn-success">Zaakceptuj wniosek <i class="fas fa-check-circle">&nbsp;</i> </a>
                                {% endif %}
                                <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'accept'}) }}" class="btn btn-success">Przekaż do administratora technicznego <i class="fas fa-check-circle">&nbsp;</i> </a>
                            {% else %}
                                <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'accept'}) }}"
                                onclick="ZaakceptujWniosek(event, '{{ entity.wniosek.status.nazwaSystemowa == '03_EDYCJA_WLASCICIEL' ? '1' : '0' }}')" class="btn btn-success">{{ entity.wniosek.status.nazwaSystemowa == "00_TWORZONY" ? "Złóż" : "Zaakceptuj" }} wniosek <i class="fas fa-check-circle">&nbsp;</i> </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <div class="alert alert-danger">
                            Wniosek nie zawiera żadnych uprawnień żadnych użytkowników do żadnych zasobów, wniosek musi zawierać co najmniej przypisanie jednego użytkownika do jednego zasobu!!!
                        </div>
                    {% endif %}

                {% endif %}

                {% if not status_ostatecznie_zablokowany and czyLsi and (entity.wniosek.status.nazwaSystemowa == "05_EDYCJA_ADMINISTRATOR" or entity.wniosek.status.nazwaSystemowa == "07_ROZPATRZONY_POZYTYWNIE") and not wniosek_odebranie %}
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'publish_lsi'}) }}" class="btn btn-danger">Opublikuj do LSI <i class="fas fa-check-circle">&nbsp;</i></a>
                {% endif %}

                {% if not status_ostatecznie_zablokowany and lsi_import_token_form is defined and czyLsi and (entity.wniosek.status.nazwaSystemowa == "05_EDYCJA_ADMINISTRATOR" or entity.wniosek.status.nazwaSystemowa == "07_ROZPATRZONY_POZYTYWNIE") and not wniosek_odebranie %}
                    {{ form_start(lsi_import_token_form) }}
                        {{ form_widget(lsi_import_token_form.wniosek) }}
                        {{ form_widget(lsi_import_token_form.submit, {'attr': {'data-ajax': 'ajax', 'class': 'btn-primary', 'data-toggle': 'modal'}}) }}
                    {{ form_end(lsi_import_token_form) }}
                {% endif %}


                {% if not status_ostatecznie_zablokowany and canUnblock %}
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'unblock'}) }}" class="btn btn-primary">Odblokuj wniosek <i class="fas fa-check">&nbsp;</i> </a>
                {% endif %}
                {% if app.user.username == 'marcin_lipinski' or app.user.username == 'kamil_jakacki' %}
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'acceptAndPublish'}) }}" class="btn btn-success">Zaakceptuj i PONÓW PUBLIKACJĘ <i class="fas fa-check-circle">&nbsp;</i> </a>
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'publish'}) }}" class="btn btn-danger">Opublikuj do AD PONOWNIE<i class="fas fa-check-circle">&nbsp;</i> </a>
                {% endif %}

                {% if not status_ostatecznie_zablokowany and 'PARP_ADMIN_REJESTRU_ZASOBOW' in app.user.roles %}
                    <a href="{{ path('wniosek_przekieruj', {'id': entity.wniosek.id}) }}" class="btn btn-warning">Przekaż ręcznie wniosek  <i class="fas fa-arrow-right">&nbsp;</i></a>
                {% endif %}

                {% if not status_ostatecznie_zablokowany and 'PARP_ADMIN_REJESTRU_ZASOBOW' in app.user.roles %}
                    <a href="{{ path('zablokuj_wniosek_koncowo', {'wniosek': entity.id, 'status': '101_ANULOWANO_ADMINISTRACYJNIE'}) }}" class="btn btn-warning btn-purple">Anuluj administracyjnie <i class="fas fa-flag">&nbsp;</i></a>
                {% endif %}

                {% if not status_ostatecznie_zablokowany and 'PARP_ADMIN_REJESTRU_ZASOBOW' in app.user.roles %}
                    <a href="{{ path('zablokuj_wniosek_koncowo', {'wniosek': entity.id, 'status': '102_ODEBRANO_ADMINISTRACYJNIE'}) }}" class="btn btn-warning btn-purple">Odbierz administracyjnie <i class="fas fa-fire">&nbsp;</i></a>
                {% endif %}

            </div>
            <div class="collapse" id="rejectDiv">
                <form action="" method="POST" id="subFormOdrzucenie">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="parp_mainbundle_komentarz_opis">Powód zwrotu/odrzucenia wniosku</label>
                        <div class="col-sm-10">
                            <textarea id="powodZwrotu" name="powodZwrotu" class="form-control"  placeholder="Wpisz powod zwrotu/odrzucenia wniosku"></textarea>
                        </div>
                    </div>
                    <div class="form-group paddingTop20 container">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                        <button type="submit" class="btn btn-danger">Wykonaj akcje </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collapse" id="selectDate">
                <form action="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'acceptAndPublish', publishForReal: false}) }}" method="POST" id="subFormAccept">
                <br />
                <div class="alert alert-warning">Pozostaw puste pole jeżeli automatycznie wstawić datę dzisiejszą.</div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="parp_mainbundle_komentarz_opis">Wybierz datę odebrania</label>
                        <div class="col-sm-10">
                           <input name="dataOdebrania" id="dataOdebrania" class="datepicker form-control" type="text" />
                        </div>
                    </div>

                    <div class="form-group paddingTop20 container">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                        <button type="submit" class="btn btn-danger">Wykonaj akcje </button>
                        </div>
                    </div>
                </form>
            </div>
            {% if(entity.powodZwrotu != "") %}
                <div class="alert alert-danger">
                    <h3>Powód odrzucenia wniosku:</h3>
                    {{ entity.powodZwrotu }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#zasoby">Zasoby</a></li>
            <li><a data-toggle="tab" href="#pliki">Pliki</a></li>
            <li><a data-toggle="tab" href="#komentarze">Komentarze {% if(entity.id > 0 and comments > 0) %}<span class="badge">{{ comments }}</span>{% endif %}</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
            <li><a data-toggle="tab" href="#historiaAkceptacji">Historia akceptacji</a></li>
            {% if(entity.wniosek.ADentries|length > 0) %}

            <li><a data-toggle="tab" href="#statusAD">Status w AD</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">

                <div class="tabContent">
                    <table class="record_properties table table-striped">
                        <tbody>
                             <tr>
                                <th>Id</th>
                                <td>{{ entity.id }} {{ entity.wniosek is defined ? "(" ~ entity.wniosek.id ~ ")" : "" }}</td>
                            </tr>
                            <tr>
                                <th>Numer</th>
                                <td>
                                    <div class="alert alert-success">{{ entity.wniosek.numer }}</div>

                                    {% if entity.wniosek.parent %}

                                        <a href="{{ path('wnioseknadanieodebraniezasobow_show', {id: entity.wniosek.parent.wniosekNadanieOdebranieZasobow.id}) }}" class="btn btn-info">powstał z podzielenia Wniosku o nr {{ entity.wniosek.parent.numer }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    {{ entity.wniosek.status }}
                                    {% if entity.wniosek.status.nazwaSystemowa == "10_PODZIELONY" %}
                                        Na wnioski:
                                        <ul class="list-group">
                                        {% for w in entity.wniosek.children %}
                                            <li class="list-group-item"><a class="btn btn-info" href="{{ path('wnioseknadanieodebraniezasobow_show', {id: w.wniosekNadanieOdebranieZasobow.id}) }}">Wniosek nr {{ w.numer }} - {{ w.status.nazwa }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Osoby, których dotyczy wniosek</th>
                                <td>
{#                                     {{ entity.pracownicy }} #}
                                    {% set i = 0 %}
                                    {% set przetworzone_osoby = {} %}
                                    {% for z in entity.userZasoby %}
                                        {% set i = i + 1 %}
                                        {% if z.samaccountname not in przetworzone_osoby %}
                                            {% set przetworzone_osoby = przetworzone_osoby|merge([z.samaccountname]) %}
                                            {{ z.samaccountname|showFullname }} {% if i != entity.userZasoby|length %}<br>{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Czy pracownik/pracownicy spoza PARP</th>
                                <td>{{ entity.pracownikSpozaParp ? "TAK" : "NIE" }}</td>
                            </tr>
                            <tr>
                                <th>Jednostka organizacyjna</th>
                                <td>{{ entity.wniosek.jednostkaOrganizacyjna }}</td>
                            </tr>
                            <tr>
                                <th>Utworzony przez</th>
                                <td>{{ entity.wniosek.createdBy|showFullname }}</td>
                            </tr>
                            <tr>
                                <th>Utworzony dnia</th>
                                <td>{{ entity.wniosek.createdAt|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            <tr>
                                <th>Edytowany (zablokowany) przez</th>
                                <td>{{ entity.wniosek.lockedBy|showFullname }}</td>
                            </tr>
                            <tr>
                                <th>Edytowany (zablokowany) dnia</th>
                                <td>{{ entity.wniosek.lockedAt|date('Y-m-d H:i:s') }}</td>
                            </tr>

                            <tr>
                                <th>Osoby które widzą wniosek</th>
                                <td>
                                    {% for v in entity.wniosek.viewers %}
                                        {{ v.samaccountname|showFullname }},
                                    {% endfor %}
{#                                     {{ entity.wniosek.viewernames|addSpaces }} #}</td>
                            </tr>
                            <tr>
                                <th>Osoby które mogą edytować wniosek</th>
                                <td>
                                    {% for v in entity.wniosek.editors %}
                                        {{ v.samaccountname|showFullname }},
                                    {% endfor %}
{#                                     {{ entity.wniosek.editornames|addSpaces }} #}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% if editor and not status_ostatecznie_zablokowany %}

                    <a href="{{ path('wnioseknadanieodebraniezasobow_edit', {id: entity.id}) }}" class="btn btn-success">Dodaj / usuń użytkowników do wniosku</a>
                    {% endif %}
                </div>
            </div>
            <div id="zasoby" class="tab-pane fade">
                <br />
                {% if editor and not status_ostatecznie_zablokowany %}<a href="{{ path('addRemoveAccessToUsersAction', {'wniosekId': entity.id, 'action': (entity.odebranie ? 'removeResources' : 'addResources'), 'samaccountnames': entity.jsonSams}) }}" class="btn btn-{{ wniosek_odebranie ? 'danger' : 'success' }}">{{ wniosek_odebranie ? 'Dodaj uprawnienia do odebrania' : 'Dodaj uprawnienia' }}</a>{% endif %}
                <table class="record_properties table table-striped tablesorter">
                    <thead>
                        <tr>
                            <th class="header">Nazwa</th>
                            <th class="header">Osoba</th>
                            <th class="header">Moduł</th>
                            <th class="header">Poziom<br />dostępu</th>
                            <th class="header" title="Sumowanie uprawnień">Sum.<br />upr.</th>
                            <th class="header" title="Data od:">Aktywne od</th>
                            <th class="header" title="Bezterminowo">Bezterm.</th>
                            <th class="header" title="Data do:">Aktywne do</th>
                            <th class="header">Kanał<br />dostępu</th>
                            <th class="header" title="Uprawnienia administracyjne">Upr.<br />adm.</th>
                            <th class="header">Cel {% if wniosek_odebranie %}odebrania{% else %}nadania{% endif %}</th>
                            {% if wniosek_odebranie %}
                                <th class="header">Data<br />odebrania</th>
                            {% endif %}
                            <th class="header">Akcje</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% for z in userzasoby %}
                            {% set koniec_umowy = z.samaccountname|podajKoniecUmowy %}
                            {% set koniec_umowy_bezterminowo = (koniec_umowy and z.bezterminowo) %}
                            {% set koniec_umowy_przekracza_do = (koniec_umowy and z.aktywneDo > koniec_umowy) %}
                            <tr>
                                <td class="col-nazwa-zasobu"><a href="{{ path('zasoby_edit', {'id': z.zasobId, 'readOnly': 1}) }}">{{ z.zasobNazwa }}</a></td>
                                <td class="col-osoba">{% if (entity.pracownikSpozaParp) %}
                                        {{ z.samaccountname|showFullname }}
                                    {% else %}
                                        <a href="{{ path('userEdit', {'samaccountname': z.samaccountname}) }}">{{ z.samaccountname|showFullname }}</a>
                                        {% if koniec_umowy_bezterminowo or koniec_umowy_przekracza_do %}
                                            <div class="alert alert-danger" role="alert">
                                                <span class="fas fa-exclamation-circle" aria-hidden="true"></span> Umowa do: <br />{{ koniec_umowy|date("Y-m-d") }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="col-modul">{{ z.modul|showMultiFieldAsNewLines|raw }}</td>
                                <td class="col-poziom-dostepu nowrap">
                                    {% if z.hasAccessLevelGroups %}
                                        <b>Poziomy dostępu z grup: </b>
                                        <ul>
                                            {% for group in z.accessLevelGroups %}
                                                <li>{{ group.groupName }}</li>
                                            {% endfor %}
                                        </ul>
                                        <a data-toggle="collapse" data-target="#access-level-{{ loop.index }}">Rozwiń poziomy</a>
                                    {% endif %}
                                    <span {% if z.hasAccessLevelGroups %}id="access-level-{{ loop.index }}" class="collapse"{% endif %}>
                                        {{ z.poziomDostepu|showMultiFieldAsNewLines|raw }}
                                    </span>
                                </td>
                                <td class="col-sumowanie-upr">{{ z.sumowanieUprawnien ? "TAK" : "NIE" }}</td>
                                <td class="col-aktywne-od nowrap">{{ z.aktywneOd|date("Y-m-d") }}</td>
                                <td class="col-bezterminowo nowrap">{{ koniec_umowy_bezterminowo ? '<div class="alert alert-danger" role="alert"><span class="fas fa-exclamation-circle" aria-hidden="true"></span> ' : '' }}
                                    {{ z.bezterminowo ? "TAK" : "NIE" }}
                                    {{ koniec_umowy_bezterminowo ? '</div>' : '' }}
                                </td>
                                <td class="col-umowa-do nowrap">{{ koniec_umowy_przekracza_do ? '<div class="alert alert-danger" role="alert"><span class="fas fa-exclamation-circle" aria-hidden="true"></span> ' : '' }}
                                    {{ z.aktywneDo ? z.aktywneDo|date("Y-m-d") : "" }}
                                    {{ koniec_umowy_przekracza_do ? '</div>' : '' }}
                                </td>
                                <td class="col-kanal-dostepu nowrap">{{ z.kanalDostepu }}</td>
                                <td class="col-upr-adm nowrap">{{ z.uprawnieniaAdministracyjne ? "TAK" : "NIE" }}</td>
                                <td class="col-cel">
                                    {% if wniosek_odebranie %}{{ z.powodOdebrania }}{% else %}{{ z.powodNadania }}{% endif %}

                                    {% if(z.czyOdebrane and not wniosek_odebranie) %}
                                    <div class="alert alert-danger">
                                        <b>Odebrane</b>
                                        {{ z.powodOdebrania }}
                                    </div>
                                    {% endif %}
                                </td>
                                {% if wniosek_odebranie %}
                                    {% if z.dataOdebrania is not empty %}
                                        <td class="data-odebrania">{{ z.dataOdebrania|date('Y-m-d H:i:s') }}</td>
                                        {% else %}
                                        <td class="data-odebrania">-</td>
                                    {% endif %}
                                {% endif %}
                                <td class="col-akcje">
                                {% if 'PARP_ADMIN_REJESTRU_ZASOBOW' in app.user.roles or (not status_ostatecznie_zablokowany and
                                    entity.odebranie == false and
                                    editor and
                                    ((wniosek.wniosek is defined and not wniosek.wniosek.status.finished) or wniosek.wniosek is not defined)) %}
                                    <a href="{{ path('addRemoveAccessToUsersAction', {'wniosekId': entity.id, 'action': 'editResources', 'uzid': z.id, 'samaccountnames': z.samaccountnames}) }}" class="btn btn-primary">Edytuj</a>
                                    {% if userzasoby|length > 1 or 'PARP_ADMIN_REJESTRU_ZASOBOW' in app.user.roles %}
                                        {% if  entity.wniosek.status.nazwaSystemowa == '00_TWORZONY' %}
                                            <a href="{{ path('wnioseknadanieodebraniezasobow_delete_uz', {'userZasob': z.id}) }}" class="btn btn-danger">Skasuj</a>
                                        {% else %}
                                            <a
                                                data-loadajaxmodal="loadajaxmodal"
                                                data-target="#ajaxModal"
                                                href="{{ path('remove_application_resource', {'id': z.id}) }}"
                                                class="btn btn-danger">
                                                    Skasuj
                                            </a>
                                        {% endif %}

                                    {% endif %}
                                {% endif %}

                                {% if not status_ostatecznie_zablokowany and (entity.odebranie and z.wniosek.id is defined and z.wniosek.id > 0) %}
                                    <a href="{{ path('wnioseknadanieodebraniezasobow_show', {'id': z.wniosek.id}) }}" class="btn btn-warning" title="Zobacz wniosek o nadanie uprawnień"><i class="fas fa-file-search"></i> wn. o nadanie upr.</a>
                                {% else %}
                                    {% if not status_ostatecznie_zablokowany and (z.wniosekOdebranie.id is defined and z.wniosekOdebranie.id > 0 and z.wniosekOdebranie.id != entity.id) %}
                                        <a href="{{ path('wnioseknadanieodebraniezasobow_show', {'id': z.wniosekOdebranie.id}) }}" class="btn btn-warning" title="Zobacz wniosek o odebranie uprawnień"><i class="fas fa-file-search"></i> wn. o odebranie upr.</a>
                                    {% endif %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div id="pliki" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Plik:index', {obiekt: 'WniosekNadanieOdebranieZasobow', obiektId: entity.id})) }}
                </div>
            </div>
            <div id="komentarze" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Komentarz:index', {obiekt: 'WniosekNadanieOdebranieZasobow', obiektId: entity.id})) }}
                </div>
            </div>
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {# tymczasowe wyłączenie historii wersji, powodującej timeouty Redmine #84307 #}
                    {# {{ render(controller('ParpMainBundle:Version:versionsHistory', {repository: 'WniosekNadanieOdebranieZasobow', id: entity.id})) }} #}
                </div>
            </div>
            <div id="historiaAkceptacji" class="tab-pane fade">
                <div  class="tabContent">
                    {% include 'ParpMainBundle:WniosekNadanieOdebranieZasobow:historiaAkceptacji.html.twig' %}
                </div>
            </div>
            {% if(entity.wniosek.ADentries|length > 0) %}
            <div id="statusAD" class="tab-pane fade">
                <div  class="tabContent">
                    <table class="table striped">
                        <tr>
                            <th>Username</th>
                            <th>Nazwa grupy</th>
                            <th>Opublikowano</th>
                            <th>Ma byc w AD</th>
                            <th>Nadana w AD</th>
                        </tr>
                        {% for e in grupyAD %}
                            <tr>
                                <td><a href="{{ path('userEdit', {'samaccountname': e.entry.samaccountname}) }}">{{ e.entry.samaccountname|showFullname }}</a></td>
                                <td>{{ e.entry.memberOf }}</td>
                                <td>{{ e.entry.isImplemented }}</td>
                                <td>
                                {% if e.maBycwAD %}
                                    <div class="alert alert-success">TAK</div>
                                {% else %}
                                    <div class="alert alert-danger">NIE</div>
                                {% endif %}
                                </td>
                                <td>
                                {% if e.nadanawAD %}
                                    <div class="alert alert-success">TAK</div>
                                {% else %}
                                    <div class="alert alert-danger">NIE</div>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

<div id="ajaxModal" class="modal fade" role="dialog"></div>

<!-- Modal -->
<div id="acceptConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Akceptacja wniosku</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="alert alert-danger">
                        <h2>Akceptujesz nadanie następujących uprawnień:</h2>
                    </div>
                    {% if editor %}
                    <table class="record_properties table table-striped tablesorter">
                        <thead>
                            <tr>
                                <th class="header">Nazwa</th>
                                <th class="header">Osoba</th>
                                <th class="header">Moduł</th>
                                <th class="header">Poziom<br />dostępu</th>
                                <th class="header" title="Sumowanie uprawnień">Sum.<br />upr.</th>
                                <th class="header" title="Data od:">Aktywne od</th>
                                <th class="header" title="Bezterminowo">Bezterm.</th>
                                <th class="header" title="Data do:">Aktywne do</th>
                                <th class="header">Kanał<br />dostępu</th>
                                <th class="header" title="Uprawnienia administracyjne">Upr.<br />adm.</th>
                                <th class="header">Cel {% if wniosek_odebranie %}odebrania{% else %}nadania{% endif %}</th>
                            </tr>
                        </thead>
                            <tbody>
                            {% for z in userzasobyRozbite %}
                                {% set koniec_umowy = z.samaccountname|podajKoniecUmowy %}
                                {% set koniec_umowy_bezterminowo = (koniec_umowy and z.bezterminowo) %}
                                {% set koniec_umowy_przekracza_do = (koniec_umowy and z.aktywneDo > koniec_umowy) %}
                                <tr>
                                    <td class="col-nazwa-zasobu"><a href="{{ path('zasoby_edit', {'id': z.zasobId, 'readOnly': 1}) }}">{{ z.zasobNazwa }}</a></td>
                                    <td class="col-osoba"><a href="{{ path('userEdit', {'samaccountname': z.samaccountname}) }}">{{ z.samaccountname|showFullname }}</a>
                                    {% if koniec_umowy_bezterminowo or koniec_umowy_przekracza_do %}
                                            <div class="alert alert-danger" role="alert">
                                                <span class="fas fa-exclamation-circle" aria-hidden="true"></span> Umowa do: <br />{{ koniec_umowy|date("Y-m-d") }}
                                            </div>
                                    {% endif %}
                                    </td>
                                    <td class="col-modul">{{ z.modul|showMultiFieldAsNewLines|raw }}</td>
                                    <td class="col-poziom-dostepu">{{ z.poziomDostepu|showMultiFieldAsNewLines|raw }}</td>
                                    <td  class="col-sum-upr">{{ z.sumowanieUprawnien ? "TAK" : "NIE" }}</td>
                                    <td class="col-umowa-od nowrap">{{ z.aktywneOd|date("Y-m-d") }}</td>
                                    <td class="col-bezterminowo nowrap">{{ koniec_umowy_bezterminowo ? '<div class="alert alert-danger" role="alert"><span class="fas fa-exclamation-circle" aria-hidden="true"></span> ' : '' }}
                                        {{ z.bezterminowo ? "TAK" : "NIE" }}
                                        {{ koniec_umowy_bezterminowo ? '</div>' : '' }}
                                    </td>
                                    <td class="col-umowa-do nowrap">{{ koniec_umowy_przekracza_do ? '<div class="alert alert-danger" role="alert"><span class="fas fa-exclamation-circle" aria-hidden="true"></span> ' : '' }}
                                        {{ z.aktywneDo ? z.aktywneDo|date("Y-m-d") : "" }}
                                        {{ koniec_umowy_przekracza_do ? '</div>' : '' }}
                                    </td>
                                    <td class="col-kanal-dostepu nowrap">{{ z.kanalDostepu }}</td>
                                    <td class="col-upr-adm nowrap">{{ z.uprawnieniaAdministracyjne ? "TAK" : "NIE" }}</td>
                                    <td class="col-cel">{{ z.powodNadania }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                {% if editor %}
                <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id: entity.id, isAccepted: 'accept'}) }}" class="btn btn-success">{{ entity.wniosek.status.nazwaSystemowa == "00_TWORZONY" ? "Złóż" : "Zaakceptuj" }} wniosek <i class="fas fa-check-circle">&nbsp;</i> </a>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<script type="text/javascript"src="{{ asset('js/wnioskiZasoby.js') }}"></script>

{% endblock %}
