{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
            <li><a data-toggle="tab" href="#useruprawnienia">Lista Użytkowników Uprawnienia</a></li>
        </ul>

        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <h1>Edycja Uprawnienia </h1>
                <div class="tabContent">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{{ path('uprawnienia') }}">
                            <i class="fas fa-list"></i> Lista Uprawnienia
                        </a>
                    </div>
                    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form(edit_form) }}
                </div>
            </div>
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Version:versions', {repository: 'Uprawnienia', id: edit_form.vars.value.id})) }}
                </div>
            </div>
            <div id="useruprawnienia" class="tab-pane fade">
                <div  class="tabContent">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Imię Nazwisko</th>
                        </tr>
                        {% for uz in users %}
                            <tr>
                                <td><a href="{{ path('userEdit', {samaccountname: uz.ADUser.samaccountname}) }}">{{ uz.ADUser.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
