{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
    {% if read_only %}
        <div class="alert alert-warning">
            Jesteś w trybie <strong>podglądu</strong> zasobu.
        </div>
    {% endif %}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#grupyad">Grupy AD</a></li>
            <li><a data-toggle="tab" href="#userzasoby">Lista Użytkowników Zasobu</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
            <li><a data-toggle="tab" href="#pliki">Pliki</a></li>
            <li><a data-toggle="tab" href="#wnioski">Wnioski</a></li>
        </ul>

        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <h1>Edycja Zasoby {{ entity.published == 0 ? "(ZASÓB NIEAKTYWNY)" : "" }} </h1>
                <div class="tabContent">
                                        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('zasoby') }}">
    <i class="fas fa-list"></i> Lista Zasoby
</a>
</div>
                    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

                    {{ form(edit_form) }}
                </div>
            </div>
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Version:versions', {repository: 'Zasoby', id: edit_form.vars.value.id})) }}
                </div>
            </div>
            <div id="userzasoby" class="tab-pane fade">
                <div  class="tabContent">
                    <table class="table table-hover" id="userzasobyTable">
                        <thead>
                            <tr>
                                <th>Lp.</th>
                                <th>Nazwa użytkownika</th>
                                <th>Login do zasobu</th>
                                <th>Moduł</th>
                                <th>Kanał dostępu</th>
                                <th>Poziom dostępu</th>
                                <th>Aktywne od</th>
                                <th>Aktywne do</th>
                                <th>Powód nadania/odebrania</th>
                                <th>Wniosek</th>
                                <th>Działania</th>
                            </tr>
                        </thead>
                        {% set n = 1 %}
                        <tbody>
                            {% for row in users %}
                            {% if row.czyAktywne %}
                                <tr id="row-{{ row.id }}" {{ row.wniosekOdebranie is null ? '' : 'class="alert-warning"' }}>
                                    <td><a href="{{ path('userzasoby_edit', {id: row.id}) }}"  data-toggle="tooltip"  data-placement="top" title="{{ row.id }}">{{ n }}</a></td>
                                    <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname}) }}"

                                    >{{ row.samaccountname }}</a></td>
                                    <td>{{ row.loginDoZasobu }}</td>
                                    <td>{{ row.modul }}</td>
                                    <td>{{ row.kanalDostepu }}</td>
                                    <td>{{ row.poziomDostepu }}</td>
                                    <td>{{ row.aktywneOd|date("Y-m-d") }}</td>
                                    <td>{{ row.aktywneDo ? row.aktywneDo|date("Y-m-d") : "" }}</td>
                                    <td>{{ row.powodNadania }}</td>
                                    <td>
                                    {% if row.wniosek %}
                                        <a href="{{ path('wnioseknadanieodebraniezasobow_show', {id: row.wniosek.id}) }}">Wniosek nr {{ row.wniosek.wniosek.numer }}</a>
                                    {% else %}
                                        <div class="alert alert-danger">Bez wniosku</div>
                                    {% endif %}
                                    </td>
                                    {% if uproszczone_odbieranie %}
                                        <td>
                                            <button type="button" class="btn btn-danger keep-unblocked" data-removeuser data-userzasobid="{{ row.id }}">Odnotuj odebranie uprawnienia (uproszczony tryb)</button>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% set n = n + 1 %}
                            {% endif %}
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            <div id="grupyad" class="tab-pane fade">
                <div  class="tabContent">
                    <table class="table table-striped table-bordered" id="tableGrupyAD">
                        <tr>
                            <th>Grupa</th>
                            <th>Istnieje w AD</th>
                            <th>Użytkownicy</th>
                        </tr>
                        {% for g,p in grupyAd %}
                            <tr>
                                <td>{{ g }}</td>
                                <td>{{ p.exists ? "TAK" : "NIE" }} </td>
                                <td>
                                    {% for u in p.members %}
                                        {{ u.name }} ,
                                    {% endfor %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pliki" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Plik:index', {obiekt: 'Zasoby', obiektId: edit_form.vars.value.id})) }}
                </div>
            </div>
            <div id="wnioski" class="tab-pane fade">
                <div  class="tabContent">
                    <table class="table table-striped table-bordered" id="wnioskiTable">
                        <tr>
                            <th>ID</th>
                            <th>Wniosek</th>
                        </tr>
                        <tbody>
                            {% for uz in users %}
                                <tr>
                                    <td>
                                        {% if uz.wniosek is not null %}
                                            <a href="{{ path('wnioseknadanieodebraniezasobow_show', {'id': uz.wniosek.id}) }}">{{ uz.wniosek.id }}</a>
                                        {% else %}
                                            Bez wniosku
                                        {% endif %}
                                    </td>
                                    <td>

                                        {% if uz.wniosek is not null %}
                                            <a href="{{ path('wnioseknadanieodebraniezasobow_show', {'id': uz.wniosek.id}) }}">Wniosek  o {{ uz.wniosek.odebranie ? "odebranie" : "nadanie" }} uprawnień numer: {{ uz.wniosek.wniosek.numer }} </a>
                                        {% else %}
                                            Nie odebrane
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            {% if entity.wniosekUtworzenieZasobu %}
                                <tr>
                                    <td><a href="{{ path('wniosekutworzeniezasobu_show', {'id': entity.wniosekUtworzenieZasobu.id}) }}">{{ entity.wniosekUtworzenieZasobu.id }}</a></td>
                                    <td><a href="{{ path('wniosekutworzeniezasobu_show', {'id': entity.wniosekUtworzenieZasobu.id}) }}">Wniosek o utworzenie zasobu: {{ entity.wniosekUtworzenieZasobu.wniosek.numer }} </a></td>
                                </tr>
                            {% endif %}
                            {% if (entity.wnioskiZmieniajaceZasob|length > 0) %}
                                {% for wniosek in entity.wnioskiZmieniajaceZasob %}
                                    <tr>
                                        <td><a href="{{ path('wniosekutworzeniezasobu_show', {'id': wniosek.id}) }}">{{ wniosek.id }}</a></td>
                                        <td><a href="{{ path('wniosekutworzeniezasobu_show', {'id': wniosek.id}) }}">Wniosek o zmianę zasobu: {{ wniosek.wniosek.numer }} </a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if entity.wniosekSkasowanieZasobu %}
                                <tr>
                                    <td><a href="{{ path('wniosekutworzeniezasobu_show', {'id': entity.wniosekSkasowanieZasobu.id}) }}">{{ entity.wniosekSkasowanieZasobu.id }}</a></td>
                                    <td><a href="{{ path('wniosekutworzeniezasobu_show', {'id': entity.wniosekSkasowanieZasobu.id}) }}">Wniosek o usunięcie zasobu: {{ entity.wniosekSkasowanieZasobu.wniosek.numer }} </a></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{{ include('@ParpMain/Zasoby/uproszczone_odnotowanie_modal.html.twig') }}

<script>
    {% if read_only %}
        $(document).ready(function () {
            $('input, textarea, button, select').attr('disabled', true);
            $('.keep-unblocked').attr('disabled', false);
        });
    {% endif %}
    $('form').submit(function () {
        $('form input[disabled], form input[readonly], form select[disabled], form select[readonly]').prop('disabled', false);
        $('form input[disabled], form input[readonly], form select[disabled], form select[readonly]').prop('readonly', false);
        $('form input[disabled], form input[readonly], form select[disabled], form select[readonly]').prop('disabled', false);
        $('form input[disabled], form input[readonly], form select[disabled], form select[readonly]').prop('readonly', false);
    });
</script>


{% endblock %}

{% form_theme edit_form _self %}
{% block _parp_mainbundle_zasoby_dataZakonczeniaWdrozenia_widget %}
<div class="input-group datepicker" >
    {{ block('form_widget_simple') }}
    <span class="input-group-addon">
        <span class="fas fa-calendar"></span>
    </span>
</div>
{% endblock %}
