{% extends '::base.html.twig' %}

{% block body %}
<h1>Lista Zasoby</h1>
<ul class="nav nav-tabs">
  <li role="presentation" class="{{aktywne ? "active" : ""}}"><a href="{{path('zasoby', {'aktywne' : 1})}}">Zasoby aktywne</a></li>
  <li role="presentation" class="{{aktywne ? "" : "active"}}"><a href="{{path('zasoby', {'aktywne' : 0})}}">Zasoby nieaktywne</a></li>
</ul>


{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Uwaga!</strong> 
        {{ flashMessage }}
    </div>       
{% endfor %}

<center>
    <div class="btn-group">
        <a class="btn btn-primary btn-xs" href="?{{ grid.hash }}[_reset]=">Wyczyść filtr i sortowanie</a>
        <a class="btn btn-primary btn-xs" href="{{ path('zasoby_new') }}">Dodaj Zasoby</a>
        <a class="btn btn-warning btn-xs" href="{{ path('zasobyExcelExport', {aktywne: aktywne}) }}">Exportuj Zasoby do excela</a>
    </div>
</center>

{{ grid(grid,'ParpMainBundle:Default:index_grid.html.twig') }}

{% endblock %}


