{% extends '::base.html.twig' %}

{% block body %} 
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Użytkownicy ({{users|length}})
                </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% if users|length > 0 %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Lp.</th>
                                <th>Użytkownik</th>
                                <th>Login</th>
                            </tr>
                        </thead>
                        {% set n = 1 %}
                        <tbody>
                            {% for row in users %}
                                <tr>
                                    <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname})}}">{{ n }}</a></td>
                                    <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname})}}">{{ row.name  }}</a></td>
                                    <td><a href="{{ path('userEdit', {samaccountname: row.samaccountname})}}">{{ row.samaccountname  }}</a></td>
                                </tr>
                                {% set n = n + 1 %}
                            {% endfor %}
                        </tbody>
                    
                    </table>
                    {% else %}
                    
                    <p>Nie wybrano użytkowników</p>
                    
                    {% endif %}
                    
                </div>
            </div>
        </div>
    
    </div>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Dodawanie zasobów
                </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                     {{form(form)}} 
                </div>
            </div>
        </div>
    </div>
{%endblock%}