{% extends '::base.html.twig' %}

{% block body %} 
    <div class="col-sm-8">
        <h3>{{ user.name }}</h3>
        <form class="form-horizontal" method="POST" role="form">
            {{  form_start(form) }}
            <div class="form-group">
                {{ form_label(form.samaccountname) }}
                <div class="col-sm-8">{{ form_widget(form.samaccountname) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form.name) }}
                <div class="col-sm-8">{{ form_widget(form.name) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form.initials) }}
                <div class="col-sm-4">
                    {{ form_widget(form.initials) }}
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-primary col-sm-12" id="suggestinitials" name="suggestinitials"><i class="fa fa-search"></i> Zasugeruj</a>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.department) }}
                <div class="col-sm-8">{{ form_widget(form.department) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form.title) }}
                <div class="col-sm-4">{{ form_widget(form.title) }}</div>
                <div class="col-sm-4"><a class="btn btn-primary col-sm-12" href="{{ path('engageUser', {samaccountname: user.samaccountname}) }}"><i class="fa fa-puzzle-piece"></i> Zaangażowanie</a></div>
            </div>
            <div class="form-group">
                {{ form_label(form.initialrights) }}
                <div class="col-sm-4">{{ form_widget(form.initialrights) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form.info) }}
                <div class="col-sm-8">{{ form_widget(form.info) }}</div>
            </div>
            {#<div class="form-group">#}
            {#{{ form_label(form.description) }}#}
            {#<div class="col-sm-8">{{ form_widget(form.description) }}</div>#}
            {#</div>#}
            {#<div class="form-group">#}
            {#{{ form_label(form.division) }}#}
            {#<div class="col-sm-8">{{ form_widget(form.division) }}</div>#}
            {#</div>#}
            <div class="form-group">
                {{ form_label(form.manager) }}
                <div class="col-sm-4">
                    {{ form_widget(form.manager) }}
                </div>
                <div class="col-sm-4 btn-group">
                    <a class="btn btn-primary col-sm-6" id="nadaj" name="nadaj"><i class="fa fa-users"></i>{% if form.manager %}Zmień{% else %}Nadaj{% endif %}</a>
                    <a class="btn btn-primary col-sm-6" href="{{ path('structure',{samaccountname: user.samaccountname }) }}"><i class="fa fa-sitemap"></i> Struktura</a>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.fromWhen) }}
                <div class='col-sm-8'>
                    <div class="input-group datepicker"  id="datepicker">
                        {{ form_widget(form.fromWhen) }}
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">{{ form_widget(form.zapisz) }}</div>
            </div>
    </div>
    
    <div class="col-sm-4">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Zasoby użytkownika ({{zasoby|length}})
                    </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                    
                        <a href="{{path('addRemoveAccessToUsersAction', {'samaccountnames' : { (user.samaccountname) : 1}|json_encode(), 'action' : 'addResources' })}}" class="btn btn-success">Dodaj zasoby</a>
                        
                        {% if zasoby|length > 0 %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Lp.</th>
                                    <th>Nazwa zasobu</th>
                                </tr>
                            </thead>
                            {% set n = 1 %}
                            <tbody>
                                {% for row in zasoby %}
                                    <tr>
                                        <td><a href="{{ path('zasoby_edit', {id: row.zid})}}"  data-toggle="tooltip"  data-placement="top" title="costam">{{ n }}</a></td>
                                        <td><a href="{{ path('zasoby_edit', {id: row.zid})}}" 
                                        data-toggle="popover" title="Uprawnienia" data-content="{{row.opisHtml|raw}}"
                                        >{{ row.nazwa  }}<br>{{row.opisHtml|raw}}</a></td>
                                    </tr>
                                    {% set n = n + 1 %}
                                {% endfor %}
                            </tbody>
                        
                        </table>
                        {% else %}
                        
                        <p>Użytkownik nie posiada uprawnień do żadnych zasobów.</p>
                        
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Uprawnienia użytkownika ({{uprawnienia|length}})
                    </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse in">
                    <div class="panel-body">
                    
                        <a href="{{path('addRemoveAccessToUsersAction', {'samaccountnames' : { (user.samaccountname) : 1}|json_encode(), 'action' : 'addPrivileges' })}}" class="btn btn-success">Dodaj uprawnienia</a>
                        
                        {% if uprawnienia|length > 0 %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Lp.</th>
                                        <th>Opis zasobu</th>
                                    </tr>
                                </thead>
                                {% set n = 1 %}
                                <tbody>
                                    {% for row in uprawnienia %}
                                        <tr>
                                            <td><a href="{{ path('uprawnienia_edit', {id: row.uprawnienieId})}}">{{ n }}</a></td>
                                            <td><a href="{{ path('uprawnienia_edit', {id: row.uprawnienieId})}}">{{ row.opis  }}</a></td>
                                        </tr>
                                        {% set n = n + 1 %}
                                    {% endfor %}
                                </tbody>
                
                            </table>
                        {% else %}
                            
                            <p>Użytkownik nie posiada żadnych uprawnień.</p>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Wybierz przełożonego</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="imienazwisko">Wpisz imie i nazwisko</label>
                            <input type="text" class="form-control" id="imienazwisko" placeholder="imie i nazwisko">
                        </div>
                        <div class="form-group" id="lista" name="lista">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="zapisz" name="zapisz">Zapisz</button>
                </div>
            </div>
        </div>
    </div>   

    <script>
        $('.datepicker').datetimepicker({
            pickTime: false,
            language: 'pl',
            format: 'DD-MM-YYYY',
        });
        $('#form_fromWhen').mask("99-99-9999");
        $('#suggestinitials').click(function () {
            var samaccountname = $('#form_samaccountname').val();
            var department = $('#form_department').val();
            var cn = $('#form_name').val();
            if (!samaccountname.trim()) {
                alert('Prosze wprrowadzic nazwę konta.');
                return;
            }
            if (!cn.trim()) {
                alert('Prosze wprowadzic imię i nazwisko pracownika.');
                return;
            }
            if (!department.trim()) {
                alert('Nie wybrano Biura/Departamentu');
                return;
            }
            $.post("{{ path('suggest_initials') }}", {samaccountname: samaccountname, department: department, cn: cn}, function (data) {
                $("#form_initials").val(data);
            }).fail(function () {
                alert("Wystapił błąd pobierania danych!");
            })
        });
        $('#nadaj').click(function () {
            //$("#myModal").modal('show');
            $('#myModal').modal('toggle');
        });
        $("#imienazwisko").keyup(function () {
            var imienazwisko = null;
            imienazwisko = $("#imienazwisko").val();
            if (imienazwisko.trim()) {
                $.post("{{ path('find_manager') }}", {imienazwisko: imienazwisko}, function (data) {
                    $("#lista").html(data);
                }).fail(function () {
                    alert("Wystapił błąd pobierania danych przy wyborze przełożonego!");
                })
            }
        });
        $('#zapisz').click(function () {
            $("#myModal").modal('hide');
            $("#form_manager").val($("#manager").val());
            $("#imienazwisko").val();
        });
    </script>
{% endblock %}