{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#zasoby">Zasoby</a></li>
            <li><a data-toggle="tab" href="#pliki">Pliki</a></li>
            <li><a data-toggle="tab" href="#komentarze">Komentarze</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <h1>Edycja wniosku o nadanie zasobów </h1>
                <div class="tabContent">

                    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form(edit_form) }}
                </div>
            </div> 
            <div id="zasoby" class="tab-pane fade">
                
                <table class="record_properties table table-striped">
                    <tbody>
                        <tr>
                            <th>Osoba</th>
                            <th>Nazwa</th>
                            <th>Moduł</th>
                            <th>Poziom dostępu</th>
                            <th>Sumowanie uprawnień</th>
                            <th>Aktywne od</th>
                            <th>Bezterminowo</th>
                            <th>Aktywne do</th>
                            <th>Kanał dostępu</th>
                            <th>Uprawnienia administracyjne</th>
                            <th>Odstepstwo od procedury</th>   
{#                             <th>Akcje</th>  #}                           
                        </tr>
                        {% for z in userzasoby %}
                            <tr>
                                <td>{{z.zasobNazwa}}</td>
                                <td>{{z.samaccountname}}</td>
                                <td>{{z.modul}}</td>
                                <td>{{z.poziomDostepu}}</td>
                                <td>{{z.sumowanieUprawnien}}</td>
                                <td>{{z.aktywneOd|date}}</td>
                                <td>{{z.bezterminowo}}</td>
                                <td>{{z.aktywneDo|date}}</td>
                                <td>{{z.kanalDostepu}}</td>
                                <td>{{z.uprawnieniaAdministracyjne}}</td>
                                <td>{{z.odstepstwoOdProcedury}}</td>
{#                                 <td><a href="" class="btn btn-danger">Kasuj</a></td> #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>             
            <div id="pliki" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Plik:index', {obiekt: 'WniosekNadanieOdebranieZasobow', obiektId: edit_form.vars.value.id})) }}
                </div>
            </div>            
            <div id="komentarze" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Komentarz:index', {obiekt: 'WniosekNadanieOdebranieZasobow', obiektId: edit_form.vars.value.id})) }}
                </div>
            </div>
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Version:versionsHistory', {repository: 'WniosekNadanieOdebranieZasobow', id: edit_form.vars.value.id})) }}
                </div>
            </div>
        </div>
<div class="btn-group">
<a class="btn btn-success" href="{{ path('wnioseknadanieodebraniezasobow_show', {id: entity.id}) }}">
    <i class="fa fa-list"></i> Pokaż wniosek
</a>
<a class="btn btn-primary" href="{{ path('wnioseknadanieodebraniezasobow') }}">
    <i class="fa fa-list"></i> Lista Wniosków o nadanie zasobów
</a>
</div>
    </div>

    
    
<script type="text/javascript"src="{{ asset('js/wnioskiZasoby.js') }}"></script>
    
{% endblock %}
