<table class="record_properties table table-striped">
    <tbody>
        
        <tr>
            <th>Data</th>
            <th>Kto</th>
            <th>Nowy status</th>
        </tr>

        {% for ss in entity.wniosek.statusy %}
            <tr>
                <td>{{ ss.createdAt|date("Y-m-d H:i:s")}}</td>
                <td>
                    {%if(ss.zastepstwo)%}
                        <div class="alert alert-danger"
                        data-toggle="popover" title="Zastepstwo"  data-placement="top"
                        data-content="Zastępstwo za {{ss.zastepstwo.kogoZastepuje}} od  {{ss.zastepstwo.dataOd|date("Y-m-d")}} do {{ss.zastepstwo.dataDo|date("Y-m-d")}}">
                            {{ ss.createdBy }} w zastepstwie za {{ss.zastepstwo.kogoZastepuje}}
                        </div>
                    {%else%}
                        {{ ss.createdBy }}
                    {%endif%}
                </td>
                <td>{{ ss.statusName }}
                {% if ss.rejected %}
                    <div class="alert alert-danger">
                    (Cofnięty)
                    </div>
                {%endif%}
                </td>
            </tr>
        {%endfor%}

    </tbody>
</table>