{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Utw贸rz wniosek o {{entity.odebranie ? "odebranie" : "nadanie"}} zasob贸w</h1>
    {% if message != '' %}
    <div class="alert alert-danger">{{message}}</div>
    
    {%endif%}
    {{ form(form) }}

        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('wnioseknadanieodebraniezasobow') }}">
    <i class="fa fa-list"></i> Lista Wniosk贸w o nadanie zasob贸w
</a>
</div>


<script type="text/javascript"src="{{ asset('js/wnioskiZasoby.js') }}"></script>
{% endblock %}
