{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
        <div class="alert alert-info">
            <h1>Wniosek o nadanie zasobów numer : {{entity.id}}</h1>
            <ul>                
                <li><b>Pracownicy :</b> {{ entity.pracownicy }}</li>
                <li><b>Zasoby: </b>
                {% set i = 0 %}
                {% for z in entity.userZasoby %}                
                    {% set i = i + 1%}
                    {{z.zasobId|zasobNazwa}} {% if i != entity.userZasoby|length %},{%endif%}
                {% endfor%}
                </li>
                <li><b>Statusy:</b></li>
            </ul>
            <div class="btn-group">            
                {% for ss in entity.wniosek.statusy %}
                    <span class="btn btn-{{ ss.status.finished ? (ss.status.nazwaSystemowa == "07_ROZPATRZONY_POZYTYWNIE" ? "success" : "danger") : "default"}}"  data-toggle="tooltip" title="{{ ss.createdAt|date("Y-m-d H:i:s")}}  : {{ ss.createdBy }}" data-placement="right"><i class="glyphicon glyphicon-asterisk" >&nbsp;</i>{{ ss.statusName }} <i class="glyphicon glyphicon-{{ ss.status.finished ? (ss.status.nazwaSystemowa == "07_ROZPATRZONY_POZYTYWNIE" ? "ok-circle" : (ss.status.nazwaSystemowa == "10_PODZIELONY" ? "glyphicon glyphicon-random" : "remove-circle")) : "arrow-right"}}">&nbsp;</i> </span>
                {%endfor%}
                {% if editor %}
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id : entity.id, isAccepted: 'reject'})}}" class="btn btn-danger">Odrzuć wniosek <i class="glyphicon glyphicon-remove-sign">&nbsp;</i> </a>
                    {% if canReturn %}
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id : entity.id, isAccepted: 'return'})}}" class="btn btn-info">Zwrot do poprawy wniosek <i class="glyphicon glyphicon-arrow-left">&nbsp;</i> </a>
                    {%endif%}
                    {% if canUnblock %}
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id : entity.id, isAccepted: 'unblock'})}}" class="btn btn-primary">Odblokuj wniosek <i class="glyphicon glyphicon-check">&nbsp;</i> </a>
                    {%endif%}
                    <a href="{{ path('wnioseknadanieodebraniezasobow_accept_reject', {id : entity.id, isAccepted: 'accept'})}}" class="btn btn-success">{{ entity.wniosek.status.nazwaSystemowa == "00_TWORZONY" ? "Złóż" : "Zaakceptuj"}} wniosek <i class="glyphicon glyphicon-ok-sign">&nbsp;</i> </a>
                    
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#zasoby">Zasoby</a></li>
            <li><a data-toggle="tab" href="#pliki">Pliki</a></li>
            <li><a data-toggle="tab" href="#komentarze">Komentarze</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
            <li><a data-toggle="tab" href="#historiaAkceptacji">Historia akceptacji</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                
                <div class="tabContent">
                    <table class="record_properties table table-striped">
                        <tbody>
                            
                            <tr>
                                <th>Numer</th>
                                <td>
                                    <div class="alert alert-success">{{ entity.wniosek.numer }}</div>
                                    
                                    {% if entity.wniosek.parent%}
                                        
                                        <a href="{{path('wnioseknadanieodebraniezasobow_show', {id: entity.wniosek.parent.id})}}" class="btn btn-info">powstał z podzielenia wniosku Wniosku o nr {{entity.wniosek.parent.id}}</a>
                                    {%endif%}
                                </td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    {{ entity.wniosek.status }}
                                    {% if entity.wniosek.status.nazwaSystemowa == "10_PODZIELONY" %}
                                        Na wnioski:
                                        <ul class="list-group">
                                        {% for w in entity.wniosek.children %}
                                            <li class="list-group-item"><a class="btn btn-info" href="{{path('wnioseknadanieodebraniezasobow_show', {id: w.id})}}">Wniosek nr {{w.id}} - {{w.status.nazwa}}</a></li>
                                        {%endfor %}                           
                                        </ul>
                                    {%endif%}
                                </td>
                            </tr>
                            <tr>
                                <th>Jednostka organizacyjna</th>
                                <td>{{ entity.wniosek.jednostkaOrganizacyjna }}</td>
                            </tr>
                            <tr>
                                <th>Pracownicy</th>
                                <td>{{ entity.pracownicy }}</td>
                            </tr>
                            <tr>
                                <th>Pracownik spoza parp</th>
                                <td>{{ entity.pracownikSpozaParp }}</td>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>Deleted at</th>
                                <td>{{ entity.deletedAt|datetime }}</td>
                            </tr>
                            <tr>
                                <th>Created by</th>
                                <td>{{ entity.wniosek.createdBy }}</td>
                            </tr>
                            <tr>
                                <th>Created at</th>
                                <td>{{ entity.wniosek.createdAt|datetime }}</td>
                            </tr>
                            <tr>
                                <th>Locked by</th>
                                <td>{{ entity.wniosek.lockedBy }}</td>
                            </tr>
                            <tr>
                                <th>Locked at</th>
                                <td>{{ entity.wniosek.lockedAt|datetime }}</td>
                            </tr>
                            <tr>
                                <th>Viewers</th>
                                <td>{{ entity.wniosek.viewersnames }}</td>
                            </tr>
                            <tr>
                                <th>Editors</th>
                                <td>{{ entity.wniosek.editorsnames }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {%if editor%}
                    
                    <a href="{{path('wnioseknadanieodebraniezasobow_edit', {id: entity.id})}}" class="btn btn-success">Dodaj / usuń użytkowników do wniosku</a>
                    {%endif%}
                </div>
            </div>            
            <div id="zasoby" class="tab-pane fade">
        
            
                {%if editor%}<a href="{{path('addRemoveAccessToUsersAction', {'wniosekId' : entity.id, 'action' : 'addResources', 'samaccountnames' : entity.jsonSams})}}" class="btn btn-success">Dodaj zasoby</a>{%endif%}
                <table class="record_properties table table-striped">
                    <tbody>
                        <tr>
                            <th>Osoba</th>
                            <th>Nazwa</th>
                            <th>Moduł</th>
                            <th>Poziom dostępu</th>
                            <th>Sumowanie uprawnień</th>
                            <th>Aktywne od</th>
                            <th>Bezterminowo</th>
                            <th>Aktywne do</th>
                            <th>Kanał dostępu</th>
                            <th>Uprawnienia administracyjne</th>
                            <th>Odstepstwo od procedury</th>   
                            <th>Akcje</th>                            
                        </tr>
                        {% for z in userzasoby %}
                            <tr>
                                <td>{{z.zasobNazwa}}</td>
                                <td>{{z.samaccountname}}</td>
                                <td>{{z.modul}}</td>
                                <td>{{z.poziomDostepu}}</td>
                                <td>{{z.sumowanieUprawnien}}</td>
                                <td>{{z.aktywneOd|date}}</td>
                                <td>{{z.bezterminowo}}</td>
                                <td>{{z.aktywneDo|date}}</td>
                                <td>{{z.kanalDostepu}}</td>
                                <td>{{z.uprawnieniaAdministracyjne}}</td>
                                <td>{{z.odstepstwoOdProcedury}}</td>
                                <td>{%if editor%}
                                    <a href="{{path('addRemoveAccessToUsersAction', {'wniosekId' : entity.id, 'action' : 'editResources','uzid' : z.id, 'samaccountnames' : z.samaccountnames})}}" class="btn btn-primary">Edycja</a>
                                    <a href="{{path('wnioseknadanieodebraniezasobow_delete_uz', {'id' : z.id})}}" class="btn btn-danger">Kasuj</a>
                                    {%endif%}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>         
            <div id="pliki" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Plik:index', {obiekt: 'WniosekNadanieOdebranieZasobow', obiektId: entity.id})) }}
                </div>
            </div>            
            <div id="komentarze" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Komentarz:index', {obiekt: 'WniosekNadanieOdebranieZasobow', obiektId: entity.id})) }}
                </div>
            </div>
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {{ render(controller('ParpMainBundle:Version:versionsHistory', {repository: 'WniosekNadanieOdebranieZasobow', id: entity.id})) }}
                </div>
            </div>
            <div id="historiaAkceptacji" class="tab-pane fade">
                <div  class="tabContent">
                    {% include 'ParpMainBundle:WniosekNadanieOdebranieZasobow:historiaAkceptacji.html.twig' %}                
                </div>
            </div>
        </div>
    </div>

    
    
<script type="text/javascript"src="{{ asset('js/wnioskiZasoby.js') }}"></script>

{% endblock %}
