<!DOCTYPE html>

<title>Changelog index</title>

{% block body %}
    <h1>Changelog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>DeletedAt</th>
                <th>Samaccountname</th>
                <th>Wersja</th>
                <th>DodatkowyTytul</th>
                <th>Opis</th>
                <th>Opublikowany</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for changelog in changelogs %}
            <tr>
                <td>{{ changelog.id }}</td>
                <td>{{ changelog.createdAt ? changelog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ changelog.deletedAt ? changelog.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ changelog.samaccountname }}</td>
                <td>{{ changelog.wersja }}</td>
                <td>{{ changelog.dodatkowyTytul }}</td>
                <td>{{ changelog.opis }}</td>
                <td>{{ changelog.opublikowany ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('changelog_show', {'id': changelog.id}) }}">show</a>
                    <a href="{{ path('changelog_edit', {'id': changelog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('changelog_new') }}">Create new</a>
{% endblock %}
