<!DOCTYPE html>

<title>Changelog</title>

{% block body %}
    <h1>Changelog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ changelog.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ changelog.createdAt ? changelog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ changelog.deletedAt ? changelog.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Samaccountname</th>
                <td>{{ changelog.samaccountname }}</td>
            </tr>
            <tr>
                <th>Wersja</th>
                <td>{{ changelog.wersja }}</td>
            </tr>
            <tr>
                <th>DodatkowyTytul</th>
                <td>{{ changelog.dodatkowyTytul }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ changelog.opis }}</td>
            </tr>
            <tr>
                <th>Opublikowany</th>
                <td>{{ changelog.opublikowany ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('changelog_admin_index') }}">back to list</a>

    <a href="{{ path('changelog_edit', {'id': changelog.id}) }}">edit</a>

    {{ include('changelog/_delete_form.html.twig') }}
{% endblock %}
