{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuwanie: DaneRekord</h1>
    <div class="alert alert-danger">
        Czy na pewno chcesz skasować poniższy DaneRekord ?
    </div>
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Symbolrekordid</th>
                <td>{{ entity.symbolRekordId }}</td>
            </tr>
            <tr>
                <th>Imie</th>
                <td>{{ entity.imie }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ entity.nazwisko }}</td>
            </tr>
            <tr>
                <th>Departament</th>
                <td>{{ entity.departament }}</td>
            </tr>
            <tr>
                <th>Stanowisko</th>
                <td>{{ entity.stanowisko }}</td>
            </tr>
            <tr>
                <th>Umowa</th>
                <td>{{ entity.umowa }}</td>
            </tr>
            <tr>
                <th>Umowaod</th>
                <td>{{ entity.umowaOd|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Umowado</th>
                <td>{{ entity.umowaDo|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <div class="btn-group">

    {{ form(delete_form) }}
</div>
{% endblock %}
