{% extends '::base.html.twig' %}

{% block body -%}
{% if title is defined %}
    <h1>{{ title }}</h1>
{%endif%}
{% if msg is defined %}
    <div class="alert alert-danger">
        {{msg}}
    </div>
{%endif%}
{%if data|length > 0 %}
Data count: {{data|length}}
<table class="record_properties table table-striped tablesorter">
    <thead>
        <tr>
            {% for key,value in data[0] %}
            <th>{{key}}</th>
            {% endfor %}        
        </tr>
    </thead>
    <tbody>
            {% for obj in data %}
                <tr>
                    {% for key,value in obj %}
                        <td>
                            {% if value.timestamp is defined %}
                                {{value|date}}
                            {% else %}
                                {%if value is iterable %}
                                    {% for k, v in value %}
                                        {{k}} : {{ v|raw }}<br>
                                    {% endfor %}
                                {% else %}                                
                                    {{ value|raw }}
                                {% endif %}
                            {% endif %}
                        
                        </td>
                    {% endfor %}                   
                </tr>
            {%endfor%}
    </tbody>
</table>
{%endif %}
    
<script type="text/javascript">
    
    $("table.tablesorter").tablesorter(); 

</script>

{% endblock %}