{% extends "::base.html.twig" %}

{% block title %}Nowe zgłoszenie problemu technicznego{% endblock %}

{% block body %}


     {% if not formularz.vars.valid %}
        <div class="alert alert-danger" role="alert">
            {{ form_errors(formularz.podmiot)}}
            {{ form_errors(formularz.email)}}
            {{ form_errors(formularz.telefon)}}
            {{ form_errors(formularz.temat)}}
            {{ form_errors(formularz.opis)}}
        </div>
    {% endif %}

    {{ form_start(formularz,{'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-horizontal">
        <div class="form-group">
            {{ form_label(formularz.podmiot) }}
            <div class="col-xs-10">
                {{ form_widget(formularz.podmiot) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formularz.email) }}
            <div class="col-xs-10">
                {{ form_widget(formularz.email) }}
            </div>
        </div>    
	<div class="form-group">
            {{ form_label(formularz.telefon) }}
            <div class="col-xs-10">
                {{ form_widget(formularz.telefon) }}
	    </div>
        </div>    
        <div class="form-group">
            {{ form_label(formularz.temat) }}
            <div class="col-xs-10">
                {{ form_widget(formularz.temat) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formularz.opis) }}
            <div class="col-xs-10">
                {{ form_widget(formularz.opis) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <a href="{{ path('main')}}" class="btn btn-primary">Powrót</a>
                {{ form_widget(formularz.zapisz) }}
            </div>
        </div>
    </div>
    {{ form_rest(formularz) }}

{% endblock %}
