{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">Dane podstawowe</a></li>
            <li><a data-toggle="tab" href="#historia">Historia wersji</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <h1>Edycja {{ entity }} </h1>
                <div class="tabContent">
                    {% set hide_edit, hide_delete = true, true %}
                    {% include 'crud/views/others/record_actions.html.twig.twig' %}
                    {{ "{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}" }}
                    {{ '{{ form(edit_form) }}' }}
                </div>
            </div>            
            <div id="historia" class="tab-pane fade">
                <div  class="tabContent">
                    {{ "{{ render(controller('ParpMainBundle:Version:versions', {repository: '"}}{{ entity }}{{"', id: edit_form.vars.value.id})) }}" }}
                </div>
            </div>
        </div>
    </div>

    
    
    
{{ "{% endblock %}" }}
{% endblock body %}
