{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
        <div class="alert alert-danger">
            !!!!!!!!!!!!!!!!!!!!!!!!!!!
            Ten ekran służy do ręcznego ustawienia statusu wniosku i osób odpowiedzialnych za dalsze procedowanie wniosku!!!
            Używać tylko w szczególnych przypadkach i używać BARDZO OSTROŻNIE!
            !!!!!!!!!!!!!!!!!!!!!!
        </div>
        
        <div class="col-sm-6">
            <h2>To jest</h2>
            <table class="table">
                <tr>
                    <td class="info">
                        Wniosek :
                    </td>
                    <td>
                        {{wniosek.wniosekNadanieOdebranieZasobow is not null ? "O nadanie/odebranie uprawnień do zasobów" : "Wniosek o utworzenie/zmianę/skasowanie zasobu"}} o id : 
                        <b>{{wniosek.wniosekNadanieOdebranieZasobow is not null ? wniosek.wniosekNadanieOdebranieZasobow.id : wniosek.wniosekUtworzenieZasobu.id}}    </b>
                        <a href="{{wniosek.wniosekNadanieOdebranieZasobow is not null ? path('wnioseknadanieodebraniezasobow_show', {'id' : wniosek.wniosekNadanieOdebranieZasobow.id}) : path('wniosekutworzeniezasobu_edit', {'id' : wniosek.wniosekUtworzenieZasobu.id})}}" class="btn btn-primary">Link do wniosku</a>              
                    </td>
                </tr>
                <tr>
                    <td class="info">Status:</td>
                    <td>{{wniosek.status}}</td>
                </tr>
                <tr>
                    <td class="info">Viewers:</td>
                    <td>
                        {% for v in wniosek.viewers %}
                            <button class="btn">{{v.samaccountname}}</button>
                        {%endfor%}
                    </td>
                </tr>
                <tr>
                    <td class="info">Editors:</td>
                    <td>                    
                        {% for v in wniosek.editors %}
                            <button class="btn">{{v.samaccountname}}</button>
                        {%endfor%}
                    </td>
                </tr>
                
            </table>
        </div>
        <div class="col-sm-6">
            <h2>To ma być</h2>
            {{form(form)}}
            
            <div class="alert alert-danger">
                !!!!!!!!!!!!!!!!!!!!!!!!!!!
                Ten ekran służy do ręcznego ustawienia statusu wniosku i osób odpowiedzialnych za dalsze procedowanie wniosku!!!
                Używać tylko w szczególnych przypadkach i używać BARDZO OSTROŻNIE!
                !!!!!!!!!!!!!!!!!!!!!!
            </div>
        </div>
    </div>
<script>
    function zapiszZmiany(){
        alert('test');
    }
</script>
    
    
    
{% endblock %}
